<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>SCALE - Tendering simplified</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap" rel="stylesheet">
	<link href="global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/bootstrap_limitless.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/layout.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/components.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/colors.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/scale_dashboard.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon-app/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-app/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-app/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon-app/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon-app/safari-pinned-tab.svg" color="#ff0000">
    <meta name="msapplication-TileColor" content="#42cfdf">
    <meta name="theme-color" content="#ffffff">
</head>

<body class="application-pages sidebar-xs">

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-light ">

		<!-- Header with logos -->
		<div class="navbar-header d-none d-md-flex align-items-md-center">
			<div class="navbar-brand navbar-brand-md">
				<a href="./" class="d-inline-block">
					<img src="img/logo_dark.svg" alt="">
				</a>
				<span class="sc-beta-badge text-primary">beta</span>
			</div>
			
			<div class="navbar-brand navbar-brand-xs">
				<a href="./" class="d-inline-block">
					<img src="img/logo_icon_dark.svg" alt="">
				</a>
				<span class="sc-beta-badge text-primary" data-popup="tooltip" data-placement="right" data-original-title="BETA">*</span>
			</div>
		</div>
		<!-- /header with logos -->
	

		<!-- Mobile controls -->
		<div class="d-flex flex-1 d-md-none align-items-center">
			<div class="navbar-brand mr-auto">
				<a href="./" class="d-inline-block">
					<img src="img/logo_dark.svg" alt="">
				</a>
				<span class="sc-beta-badge text-primary">beta</span>
			</div>	
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-cog3"></i>
			</button>

			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>
		<!-- /mobile controls -->


		<!-- Navbar content -->
		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-indent-decrease2 sc-menu-hide"></i>
						<i class="icon-indent-increase2 sc-menu-show"></i>
					</a>
				</li>
				<li class="nav-item d-flex align-items-center">
					<div class="text-grey-300 ml-2 d-none d-md-block">
						<!-- <i class="icon-calendar22 mr-1 opacity-25"></i> -->
						27th September 2019
					</div>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
						<i class="icon-help"></i>
						<span class="d-md-none ml-2">Help</span>
						<span class="badge badge-mark bg-primary border-primary ml-2"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item" data-toggle="modal" data-target="#modal_tips"><i class="icon-lifebuoy"></i> Quick Tour <span class="badge badge-mark bg-primary border-primary ml-2"></span></a>
						<div class="dropdown-divider"></div>
						<a href="{{ URL::base()}}/{{Config::get('admin::config.admin_url')}}faq" class="dropdown-item"><i class="icon-question3"></i> Help Center</a>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown" aria-expanded="false">
						<i class="icon-bell2"></i>
						<span class="d-md-none ml-2">Alerts</span>
						<span class="badge badge-pill bg-danger-400 ml-auto ml-md-0">5</span>
					</a>
					
					<div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
						<div class="dropdown-content-header">
							<span class="font-weight-semibold text-uppercase text-primary">Alerts</span>
							<a href="{{ URL::base()}}/{{Config::get('admin::config.admin_url')}}xprofile/xalerts" class=""><i class="icon-arrow-right8"></i></a>
						</div>

						<div class="dropdown-content-body dropdown-scrollable-alerts">
							<!-- empty state -->
							<div class="text-center text-muted py-3 m-auto d-none" >
								<i class="icon-bell2 icon-3x p-3 bg-light rounded-round text-grey-300 my-3"></i>
								<h2 class="">Nothing here yet.</h2>
								<p class="mx-auto" style="max-width: 450px;">Your alerts will be listed here.</p>
							</div>
							<!-- / empty state  -->
							<ul class="media-list border-top sc-alert-dropdown-list">


								<li class="media mt-0 py-1 align-items-center sc-alert-item sc-alert-unread border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-primary rounded-round btn-icon">
											<i class="icon-info22"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Your password has been updated</a>
										</div>
										<span class="text-muted font-size-sm">1 hour ago</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="{{ URL::base()}}/{{Config::get('admin::config.admin_url')}}xprofile" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>

								<li class="media mt-0 py-1 align-items-center sc-alert-item sc-alert-unread border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" data-toggle="modal" data-target="#modal_onboarding_complete" class="btn bg-light text-success rounded-round btn-icon">
											<i class="icon-trophy2"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" data-toggle="modal" data-target="#modal_onboarding_complete" class="media-title sc-max-lines-2">You have completed your onboarding!</a>
										</div>
										<span class="text-muted font-size-sm">2 minutes ago</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" data-toggle="modal" data-target="#modal_onboarding_complete" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>


								<li class="media mt-0 py-1 align-items-center sc-alert-item border-bottom">
									
									<div class="media-body text-uppercase text-primary sc-max-lines-1">
										Socialight Media Limited
									</div>
									<div class="align-self-center ml-1">
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>

								<li class="media mt-0 py-1 align-items-center sc-alert-item sc-alert-unread border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-warning rounded-round btn-icon">
											<i class="icon-alert"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Your Business Permit is About to Expire</a>
										</div>
										<span class="text-muted font-size-sm">2 minutes ago</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>
								<li class="media mt-0 py-1 align-items-center sc-alert-item sc-alert-unread border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-danger rounded-round btn-icon">
											<i class="icon-alert"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Export Failed: Safaricom Limited</a>
										</div>
										<span class="text-muted font-size-sm">1 day ago</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<i class="icon-exclamation text-danger" data-popup="tooltip" title="" data-original-title="Requires action"></i>
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>
								
								<li class="media mt-0 py-1 align-items-center sc-alert-item sc-alert-unread border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-green rounded-round btn-icon">
											<i class="icon-checkmark-circle"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Export Ready: Kenya Urban Roads Authority</a>
										</div>
										<span class="text-muted font-size-sm">12 hours ago</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>

								<li class="media mt-0 py-1 align-items-center sc-alert-item border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-green rounded-round btn-icon">
											<i class="icon-checkmark-circle"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Export Ready: KEMSA</a>
										</div>
										<span class="text-muted font-size-sm">1 day ago</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>
								<li class="media mt-0 py-1 align-items-center sc-alert-item border-bottom">
									
									<div class="media-body text-uppercase text-primary sc-max-lines-1">
										Novato Kenya Limited
									</div>
									<div class="align-self-center ml-1">
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>

								<li class="media mt-0 py-1 align-items-center sc-alert-item sc-alert-unread border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-danger rounded-round btn-icon">
											<i class="icon-alert"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Your Tax Compliance Certificate has Expired</a>
										</div>
										<span class="text-muted font-size-sm">12th May 2021</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>

								<li class="media mt-0 py-1 align-items-center sc-alert-item border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-primary rounded-round btn-icon">
											<i class="icon-bell3"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Recommended Tenders for {{"the other company"}}</a>
										</div>
										<span class="text-muted font-size-sm">6th May 2021</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>

								<li class="media mt-0 py-1 align-items-center sc-alert-item border-bottom">
									<div class="sc-alert-icon mr-1">
										<a href="#" class="btn bg-light text-primary rounded-round btn-icon">
											<i class="icon-bell3"></i>
										</a>
									</div>
									<div class="media-body">
										<div>
											<a href="#" class="media-title sc-max-lines-2">Recommended Tenders for {{"one of your companies"}}</a>
										</div>
										<span class="text-muted font-size-sm">6th May 2021</span>
									</div>
									<div class="align-self-center ml-1 sc-alert-action">
										<a href="#" class="btn btn-outline-success border-0 btn-icon sc-mark-read" data-popup="tooltip" title="" data-original-title="Mark read">
											<i class="icon-checkmark3"></i>
										</a>
										<a href="#" class="btn btn-light border-0 btn-icon sc-mark-unread" data-popup="tooltip" title="" data-original-title="Mark unread">
											<i class="icon-primitive-dot opacity-25"></i>
										</a>
										<a href="#" class="btn btn-outline-primary border-0 btn-icon">
											<i class="icon-arrow-right8"></i>
										</a>
									</div>
								</li>
								

							</ul>
						</div>

						<div class="dropdown-content-footer justify-content-center p-0">
							<a href="{{ URL::base()}}/{{Config::get('admin::config.admin_url')}}xprofile/xalerts" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="" data-original-title="View all Alerts"><i class="icon-menu7 d-block top-0"></i></a>
						</div>
					</div>
				</li>

				<li class="nav-item dropdown">
					<a href="#" class="navbar-nav-link">
						<i class="icon-bell2"></i>
						<span class="d-md-none ml-2">Notifications</span>
						<span class="badge badge-mark border-white"></span>
					</a>					
				</li>

				<li class="nav-item dropdown dropdown-user">
					<a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
						<img src="https://picsum.photos/id/1005/100/100" alt="" class="rounded-round border">
						<span>Onani</span>
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="user-settings.html" class="dropdown-item"><i class="icon-user"></i> My Profile</a>
						<a href="my-account.html" class="dropdown-item"><i class="icon-cog5"></i> My Account</a>
						<a href="billing.html" class="dropdown-item"><i class="icon-archive"></i> Billing</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<!-- /navbar content -->

	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-main sidebar-expand-md">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- company menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-2">
								<img class="border rounded" src="img/socialight.png" width="44" height="44" class="" alt="">
							</div>

							<div class="media-body align-self-center">
								<div class="media-title font-weight-semibold sc-max-lines-2 text-grey"><a href="index.html">Socialight Company Limited</a> </div>
								<!-- <div class="font-size-xs">
									<a href="#" ><i class="icon-loop3 font-size-sm"></i> &nbsp;Switch Active Company</a>
								</div> -->
							</div>

							<div class="ml-1 align-self-center btn btn-icon btn-outline-primary border-0 bg-slate-700">
								<a href="#" class="text-white" data-popup="tooltip" data-placement="right" data-original-title="Switch Active Company" title="" data-toggle="modal" data-target="#modal_switch_company"><i class="icon-transmission"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- /company menu -->


				<!-- Main navigation -->
				<div class="card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->

						<li class="nav-item-header">
							<div class="text-uppercase font-size-xs line-height-xs"><i class="icon-menu" title="Main"></i></div> 
							<i class="icon-menu" title="Main"></i>
						</li>
						
						<li class="nav-item">
							<a href="./" class="nav-link active" data-popup="tooltip" data-placement="left" data-original-title="Dashboard">
								<i class="icon-home5"></i>
								<span>Dashboard</span>
							</a>
						</li>

						<li class="nav-item">
							<a href="tenders.html" class="nav-link" data-popup="tooltip" data-placement="left" data-original-title="Find Tenders">
								<i class="icon-folder-search"></i>
								<span>Find Tenders</span>
								<span class="badge bg-success align-self-center ml-auto text-uppercase">275 Open</span>
							</a>
                        </li>
                        <li class="nav-item">
							<a href="applications.html" class="nav-link" data-popup="tooltip" data-placement="left" data-original-title="Find Tenders">
								<i class="icon-magic-wand"></i>
								<span>Tender Applications</span>
								<span class="badge bg-success align-self-center ml-auto text-uppercase">3 Active</span>
							</a>
                        </li>
                        <li class="nav-item">
							<a href="documents.html" class="nav-link" data-popup="tooltip" data-placement="left" data-original-title="Find Tenders">
								<i class="icon-folder"></i>
								<span>Business Documents</span>
							</a>
                        </li>
                        <li class="nav-item">
							<a href="business-settings.html" class="nav-link" data-popup="tooltip" data-placement="left" data-original-title="Find Tenders">
								<i class="icon-cog7"></i>
								<span>Business Settings</span>
							</a>
						</li>
						
						<!-- /main -->

						<li class="nav-item-header sc-menu-offer-header"><div class="text-uppercase font-size-xs line-height-xs">Promotion</div> <i class="icon-menu" title="Main"></i></li>
						<li class="nav-item sc-menu-offer-body bg-slate-600 rounded-bottom rounded-top mr-3 ml-3 text-left p-3">
							
							<i class="icon-alarm icon-2x text-primary"></i>
							<h4 class="mt-2">Limited time offer!</h4>
							<p class="text-muted">
								Upgrade and enjoy 3 bonus tender exports at no extra cost.
							</p>
							<a href="#" class="btn btn-outline-primary border-0">Upgrade Now</a>
							
						</li>
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header">
                <div class="breadcrumb-line">
                    <div class="d-flex">
                        <div class="breadcrumb">
                            <a href="https://scale.co.ke/app/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                            <span class="breadcrumb-item active">Afwayi Enterprises - Applications</span>
                        </div>
                    </div>
                </div>
				<div class="page-header-content">
					<div class="page-title d-flex">
                        <i class="icon-magic-wand mr-2 mt-2"></i>
                        <div>
                            <h4 class="sc-application-pe-title sc-max-lines-1">
                                Jaramogi Oginga Odinga Teaching & Referral Hospital  
                            </h4>
                            <div class="sc-max-lines-1">SUPPLY AND DELIVERY OF LABORATORY REAGENTS, CHEMICALS, GLASSWARE AND ACCESSORIES</div>
                            <div>14th June 2021 <span class="badge badge-success">1 week from now</span></div>

                        </div>
                    </div>
				</div>
			</div>
			<!-- /page header -->


			<!-- Content area -->
			<div class="content pt-0 d-flex flex-column">

				<div class="row align-items-stretch">
					<div class="col-lg-8">
						<div class="sc-mobile-drawer">
							<div class="d-none d-lg-none d -flex align-self-center">
								<h5 class="text-slate m-0 p-2">Tender Document</h5>
								<button class="btn btn-light border-0 ml-auto sc-close-drawer" role="button">
									<i class="icon-cross"></i>
								</button>
							</div>
							<div class="embed-pdf" id="tenderDocument">
								<input type="hidden" id="adobe-dc-view-url">
								<div id="adobe-dc-view"></div>
								<!-- <div class="loader"><i class="icon-spinner2 icon-2x d-block"></i></div> -->
	
							</div>
						</div>
					</div>
					<div class="col-lg-4 sc-application-list-panel">

						<div class="sc-application-list-panel-header d-lg-flex align-items-center border-bottom">
							<h4 class="text-slate font-weight-bold ">Your Checklist</h4>
							<button class="btn btn-icon bg-light ml-auto d-none d-lg-block" data-popup="tooltip" data-original-title="Toggle focus mode" onClick="focusMode();"><i class="icon-screen-full"></i></button>
							<button class="btn btn-icon bg-light d-none d-lg-block" data-popup="tooltip" data-original-title="Enable focus mode" onClick="focusMode('on');">on</button>
							<button class="btn btn-icon bg-light d-none d-lg-block" data-popup="tooltip" data-original-title="Disable focus mode" onClick="focusMode('off');">off</button>
						</div>

						<div class="sc-application-list-panel-wrapper">

							<div class="alert alert-info m-3">
								<b>Tip:</b> Read the tender document <span class="d-md-none">by clicking on the icon <button class="btn p-0 bg-transparent sc-pdf-view" data-url="https://tenders.go.ke/api/viewdocs/Documents/1623078857063-RFP%20Consultancy%20for%20IFMIS%20Quality%20Assurance.pdf" data-target="adobe-dc-view" ><i class="icon-clipboard6"></i></button> on the toolbar below</span> then add all relevant items to to your application.
							</div>

							<div class="d-flex align-items-center py-1">
								<h5 class="text-green mt-2">Section 1: Technical Response</h5>
								<button class="btn btn-primary ml-auto" onclick="showAddListPopup('add-items-technical');">
									Add <i class="icon-stack-plus ml-1"></i>
								</button>
							</div>
							<div class="checklist-items border-bottom py-1">
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation because some documents have sentences for a title ¯\_(ツ)_/¯</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
							</div>
	
							<div class="d-flex align-items-center py-1">
								<h5 class="text-green mt-2">Section 2: Financial Response</h5>
								<button class="btn btn-primary ml-auto" onclick="showAddListPopup('add-items-financial');">
									Add <i class="icon-stack-plus ml-1"></i>
								</button>
							</div>
							<div class="checklist-items border-bottom py-1">
								
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
	
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
	
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
	
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
	
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
	
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
	
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
	
								<div class="sc-organize-item sc-application-item rounded">
									<span class="sc-application-item-title">Certificate of Incorporation</span>
									<div class="sc-application-item-right d-flex">
										<button class="btn ml-auto bg-transparent sc-drag-move">
											<i class="icon-move-alt1"></i>
										</button>
										
										<button class="btn ml-1 my-auto bg-transparent sc-accessible-move">
											<i class="icon-move-up2"></i>
										</button>
										<button class="btn ml-auto bg-transparent sc-accessible-move">
											<i class="icon-move-down2"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
							
						<div class="sc-checklist-add-popup d-flex flex-column" id="add-items-technical">
							<h5 class="text-green mt-2 py-1"> <button class="btn btn-icon bg-light mr-2 ml-1" onclick="doneAddListPopup('add-items-technical');"><i class="icon-arrow-left8"></i></button> Add documents: Technical Response</h5>
							<div class="sc-checklist-add-popup-wrapper">
								<h5 class="text-slate pt-2">Business Resistration Documents</h5>
								<div class="checklist-items">
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox" role="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox" role="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									
									<h5 class="text-slate pt-2">Business Resistration Documents</h5>
									
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
								</div>
								<div class="documents">
									<hr>
									<h3>Documents</h3>
									
									<a href="#" class="sc-application-item sc-document-row sc-document-row-empty rounded">
										<i class="sc-document-empty icon-file-empty2 my-auto mx-1 opacity-25"></i>
										<i class="sc-document-added icon-file-empty my-auto mx-1"></i>
										<i class="sc-document-verified icon-file-check my-auto mx-1"></i>
										<span class="sc-application-item-title">
											Certificate of Incorporation <br>
											<span class="badge text-muted">No File</span>
										</span>
										<div class="sc-application-item-right d-flex">
											<i class="icon-arrow-right8 p-2"></i>
										</div>
									</a>
		
									<a href="#" class="sc-application-item sc-document-row sc-document-row-added rounded">
										<i class="sc-document-empty icon-file-empty2 my-auto mx-1 opacity-25"></i>
										<i class="sc-document-added icon-file-empty my-auto mx-1"></i>
										<i class="sc-document-verified icon-file-check my-auto mx-1"></i>
										<span class="sc-application-item-title">
											Certificate of Incorporation <br>
											<span class="badge text-muted">Not Verified</span>
										</span>
										<div class="sc-application-item-right d-flex">
											<i class="icon-arrow-right8 p-2"></i>
										</div>
									</a>
		
									<a href="#" class="sc-application-item sc-document-row sc-document-row-verified rounded">
										<i class="sc-document-empty icon-file-empty2 my-auto mx-1 opacity-25"></i>
										<i class="sc-document-added icon-file-empty my-auto mx-1"></i>
										<i class="sc-document-verified icon-file-check my-auto mx-1"></i>
										<span class="sc-application-item-title">
											Certificate of Incorporation <br>
											<span class="badge text-muted">Verified</span>
										</span>
										<div class="sc-application-item-right d-flex">
											<i class="icon-arrow-right8 p-2"></i>
										</div>
									</a>
									
								</div>
							</div>
							<div class="sc-checklist-add-popup-footer d-flex align-items-center p-2 border-top">
								<span class="ml-auto mr-3">
									2 documents selected
								</span>
								<button class="btn btn-primary" onclick="doneAddListPopup('add-items-technical');">
									Done <i class="icon-checkmark3 ml-1"></i>
								</button>
							</div>
						</div>
						
						<div class="sc-checklist-add-popup d-flex flex-column" id="add-items-financial">
							<h5 class="text-green mt-2 py-1"><button class="btn btn-icon bg-light mr-2 ml-1" onclick="doneAddListPopup('add-items-financial');"><i class="icon-arrow-left8"></i></button>  Add documents: Financial Response</h5>
							<div class="sc-checklist-add-popup-wrapper">
								<h5 class="text-slate pt-2">Business Resistration Documents</h5>
								<div class="checklist-items">
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
									
									<h5 class="text-slate pt-2">Business Resistration Documents</h5>
									
									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>

									<label class="sc-checklist-input" role="checkbox">
										<input type="checkbox">
										<div class="sc-application-checklist-item rounded">
											<i class="icon-checkmark3 sc-item-checkmark m-1"></i>
											<span class="sc-application-item-title">Certificate of Incorporation</span>
										</div>
									</label>
								</div>
								<div class="documents">
									<hr>
									<h3>Documents</h3>
									
									<a href="#" class="sc-application-item sc-document-row sc-document-row-empty rounded">
										<i class="sc-document-empty icon-file-empty2 my-auto mx-1 opacity-25"></i>
										<i class="sc-document-added icon-file-empty my-auto mx-1"></i>
										<i class="sc-document-verified icon-file-check my-auto mx-1"></i>
										<span class="sc-application-item-title">
											Certificate of Incorporation <br>
											<span class="badge text-muted">No File</span>
										</span>
										<div class="sc-application-item-right d-flex">
											<i class="icon-arrow-right8 p-2"></i>
										</div>
									</a>
		
									<a href="#" class="sc-application-item sc-document-row sc-document-row-added rounded">
										<i class="sc-document-empty icon-file-empty2 my-auto mx-1 opacity-25"></i>
										<i class="sc-document-added icon-file-empty my-auto mx-1"></i>
										<i class="sc-document-verified icon-file-check my-auto mx-1"></i>
										<span class="sc-application-item-title">
											Certificate of Incorporation <br>
											<span class="badge text-muted">Not Verified</span>
										</span>
										<div class="sc-application-item-right d-flex">
											<i class="icon-arrow-right8 p-2"></i>
										</div>
									</a>
		
									<a href="#" class="sc-application-item sc-document-row sc-document-row-verified rounded">
										<i class="sc-document-empty icon-file-empty2 my-auto mx-1 opacity-25"></i>
										<i class="sc-document-added icon-file-empty my-auto mx-1"></i>
										<i class="sc-document-verified icon-file-check my-auto mx-1"></i>
										<span class="sc-application-item-title">
											Certificate of Incorporation <br>
											<span class="badge text-muted">Verified</span>
										</span>
										<div class="sc-application-item-right d-flex">
											<i class="icon-arrow-right8 p-2"></i>
										</div>
									</a>
									
								</div>
							</div>
							<div class="sc-checklist-add-popup-footer d-flex align-items-center p-2 border-top">
								<span class="ml-auto mr-3">
									2 documents selected
								</span>
								<button class="btn btn-primary" onclick="doneAddListPopup('add-items-financial');">
									Done <i class="icon-checkmark3 ml-1"></i>
								</button>
							</div>
						</div>
                        
					</div>
				</div>
				
				

				
				

			</div>
			<!-- /content area -->


			<!-- Footer -->
			<div class="navbar navbar-expand">
				<div class="d-flex justify-space-between">
					<span class="navbar-text mr-auto">
						&copy; 2000. <a href="http://www.scale.co.ke/">Scale Management Ltd.</a>
					</span>
				</div>
			</div>
			<!-- /footer -->

            <div class="sc-mobile-controls">
                <div class="sc-documents-ready">
                    <div class="sc-progress">
                        <div class="sc-progress-label" style="width: 20%;">
                                <div class="badge bg-green text-uppercase">
                                        2/12<span class="d-none d-sm-inline">Verified</span>
                                </div>
                        </div>
                        <div class="progress">
                                <div class="progress-bar bg-success" style="width: 20%"></div>
                        </div>
                    </div>
                </div>
                <div class="d-lg-flex flex-row-reverse">

                    <div class="sc-page-controls p-2 d-flex justify-content-around">
                        <button class="btn btn-dock-nav mx-md-1" role="button" title="Cancel application">
                            <i class="icon-trash d-block"></i>
                            <span class="dock-nav-label">Cancel</span>
                        </button>
						<button class="btn btn-dock-nav mx-md-1" role="button" title="Your notes">
							<i class="icon-compose d-block"></i>
							<span class="dock-nav-label">Notes</span>
						</button>
						<button class="btn btn-green sc-proceed-button sc-pdf-view btn-lg order-lg-6" data-url="https://tenders.go.ke/api/viewdocs/Documents/1623078806536-Advert%20QA%20and%20ADMINISTRATOR.pdf" data-target="adobe-dc-view">
							<span>Proceed</span>
							<i class="icon-arrow-right8"></i>
						</button>
						<button class="btn sc-pdf-view btn-dock-nav mx-lg-1 d-lg-none sc-show-preview" data-url="https://tenders.go.ke/api/viewdocs/Documents/1623078857063-RFP%20Consultancy%20for%20IFMIS%20Quality%20Assurance.pdf" data-target="adobe-dc-view" role="button" title="Read tender document">
							<i class="icon-menu6 d-block"></i>
							<span class="dock-nav-label">Document</span>
						</button>
                        <button class="btn bg-transparent sc-show-progress d-lg-none" role="button">
                            <i class="icon-menu progress-menu-icon"></i>
                            <i class="icon-cross progress-close-icon"></i>
                        </button>
                    </div>
                    <div class="sc-progress-tracking bg-light d-sm-flex mr-md-auto">
                        <a class="sc-position w-100 d-flex align-items-center py-2 px-3 px-md-2 px-xl-3" href="#" title="Create Checklist">
                            <div> <i class="icon-seven-segment-1 border-1 border-green rounded-round p-1 bg-white text-green"></i></div>
                            <div class="text-grey d-lg-block ml-2">
                                Create Checklist
                            </div>
                        </a>
                        <div class="sc-position w-100 d-flex align-items-center py-2 px-3 px-md-2 px-xl-3 bg-white" title="Review Documents">
                            <div> <i class="icon-seven-segment-2 border-1 border-green rounded-round p-1 bg-green"></i></div>
                            <div class="text-green d-lg-block ml-2">
                                Review Documents
                            </div>
                        </div>
                        <div class="sc-position w-100 d-flex align-items-center py-2 px-3 px-md-2 px-xl-3" title="Export Application">
                            <div> <i class="icon-seven-segment-3 border rounded-round p-1 bg-white text-grey-300"></i></div>
                            <div class="text-grey d-lg-block ml-2">
                                Export Application
                            </div>
                        </div>
                    </div>
                </div>
            </div>

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

    <!-- update settings -->
    <div id="modal_contacts_settings" class="modal fade">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
                	<h5 class="text-primary">Update Login &amp; Contacts</h5>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

				<div class="modal-body">
					<form action="./" method="POST">
						<div class="row">
                            <label class="col-form-label col-lg-4 cursor-pointer" for="firstname">Name:</label>
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<input class="form-control" type="text" name="firstname" placeholder="First name">
								</div>
							</div>
							<div class="col-6 col-lg-4">
								<div class="form-group">
									<input type="text" name="lastname" class="form-control" placeholder="Last name">
								</div>
							</div>
						</div>

                        <div class="row">
                            <label class="col-form-label col-lg-4 cursor-pointer" for="email">Email Address:</label>
							<div class="col-lg-8 form-group">
								<input type="email" name="email" class="form-control" placeholder="Email address">
							</div>
                        </div>

                        <div class="row">
                            <label class="col-form-label col-lg-4 cursor-pointer" for="email">Phone Number:</label>
							<div class="col-lg-8 form-group">
								<input type="tel" name="tel" class="form-control" placeholder="Email address">
							</div>
                        </div>
                        
                        <div class="row">
                            <label class="col-form-label col-lg-4 cursor-pointer" for="firstname">Password:</label>
							<div class="col-6 col-lg-4 form-group">
								<input type="password" name="password" class="form-control" placeholder="Password">
							</div>
							<div class="col-6 col-lg-4 form-group">
                                <input type="password" name="password_confirmation" class="form-control" placeholder="Confirm Password">
							</div>
						</div>


						<div class="form-group text-right mt-2 pt-3 border-top">
                            <button class="btn bg-light" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn bg-primary btn-lg">Save Changes</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- / update settings -->
	<!-- upgrade -->

    <div id="modal_upgrade" class="modal fade">
		<div class="modal-dialog modal-sm modal-dialog-centered">
			<div class="modal-content border-top-warning border-top-3">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="modal-body pt-0">
                    <div class="text-center">
                        <i class="icon-alert icon-2x text-warning border-warning border-1 rounded-round p-2 mb-3"></i>
                        <h5 class="text-warning">Sorry :(</h5>
                        <div>Please upgrade your Plan to add more businesses to your account.</div>
                    </div>
                </div>

                <div class="modal-footer justify-items-center">
                    <div class="mx-auto">

                        <button class="btn bg-light" data-dismiss="modal">Cancel</button>
                        <a href="#" class="btn btn-primary">See Plans</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
	<!-- / upgrade -->
	<!-- switch company -->

    <div id="modal_switch_company" class="modal fade">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-top-warning border-top-3">
				<div class="modal-header">
                	<h5 class="text-primary">Switch Active Company</h5>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="modal-body pt-0">
					<p>Please select one comapny you want to...</p>
					<div class="container">
						<div class="row">
							<div class="col-6 col-sm-4">
								<div class="rounded p-1 sc-business-tile border">
									<img src="img/socialight.png" class="sc-company-logo" alt="">
									<div class="badge text-uppercase bg-primary sc-active-badge">Active</div>
									<p class="sc-max-lines-2">Socialight Media Limited</p>
									<button class="btn btn-block" disabled>Selected</button>
								</div>
							</div>
							<div class="col-6 col-sm-4">
								<div class="rounded p-1 sc-business-tile border">
									<img src="img/socialight.png" class="sc-company-logo" alt="">
									<p class="sc-max-lines-2">Socialight Media Limited</p>
									<button class="btn btn-block btn-primary">Select</button>
								</div>
							</div>
							<div class="col-6 col-sm-4">
								<div class="rounded p-1 sc-business-tile border">
									<div class="text-center">
										<i class="icon-plus22 icon-3x text-green p-2 my-3 mx-auto"></i>
									</div>
									<a href="#" class="btn btn-block btn-green">Add Company</a>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
		</div>
	</div>
	<!-- / switch company -->
    


	<!-- Core JS files -->
	<script src="global_assets/js/main/jquery.min.js"></script>
	<script src="global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<script src="global_assets/js/plugins/forms/wizards/steps.min.js"></script>
	<script src="global_assets/js/plugins/uploaders/dropzone.min.js"></script>
	<script src="global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
	<script src="global_assets/js/plugins/loaders/blockui.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/app.js"></script>
	<!-- /theme JS files -->

    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
	

	<script src="assets/js/custom.js"></script>
	<script>

        $(document).ready(function() { 

			$('.sc-show-progress').on('click', function() {
				toggleProgress();
			});

			$('.sc-close-drawer').on('click', function() {
				toggleMobileDrawer();
			});

            // click to load pdf
			$('.sc-pdf-view').on('click', function() {

                newDoc = $(this).data('url');
				targetPane = $(this).data('target');
                docTitle = "Document Preview";
                currentFile = $("#" + targetPane + "-url").val();
				
                console.log("newDoc: " + newDoc + " /r currentFile: " + currentFile)
                
                if(newDoc == currentFile) {
                    console.log("same...");
                    toggleMobileDrawer();
                }else{
                    console.log("different...");
                    $('body:not(.show-mobile-drawer)').addClass('show-mobile-drawer');
                    loadDynamicPdf(newDoc, targetPane, docTitle, false, false);
                }

			})
			
		}); 
		
        // embeds pdf on load
        document.addEventListener("adobe_dc_view_sdk.ready", function(){
            newDoc = "https://tenders.go.ke/api/viewdocs/Documents/1623078857063-RFP%20Consultancy%20for%20IFMIS%20Quality%20Assurance.pdf";
            targetPane = "adobe-dc-view";
            docTitle = "Tender Preview";
            // currentFile = $("#adobe-dc-view").data('url');

            loadDynamicPdf(newDoc, targetPane, docTitle, true, true);
        });
		
		function toggleMobileDrawer(){
			$('body').toggleClass('show-mobile-drawer');
		};

		function toggleProgress(){
			$('body').toggleClass('show-progress-tracking');
		};

		function showAddListPopup(targetList){
			$("#" + targetList).addClass('show');
			focusMode("on");
			$('.sc-proceed-button').prop('disabled', true);
			$('html, body').animate({
				scrollTop: $(".sc-application-list-panel").offset().top
			}, 2000);
		}
		function doneAddListPopup(targetList){
			$("#" + targetList).removeClass('show');
			focusMode("off");
			$('.sc-proceed-button').prop('disabled', false);
			$('html, body').delay().animate({
				scrollTop: $(".sc-application-list-panel").offset().top
			}, 1000);
		}

		function focusMode(focusSwitch) {
			
			console.log("focussing: " + focusSwitch);

			if (focusSwitch == "off") {
				console.log("off");
				$("body").removeClass('sc-application-focus');
			} else if(focusSwitch == "on") {
				console.log("on");
				$("body").addClass('sc-application-focus');
			} else {
				console.log("blank");
				$("body").toggleClass('sc-application-focus');
			}
		}


        function loadDynamicPdf(newPDF, targetDiv, documentTitle, setAnnotationTools, pageThumbnails){
            
			// clientID for socialightmediakenya.com
            // var adobeDCView = new AdobeDC.View({clientId: "07f4280d9f64418a93fa380bc18f2bdb", divId: targetDiv});
            
			// clientID for localhost
			var adobeDCView = new AdobeDC.View({clientId: "630e10d9f72f4e3daa0162a81c060665", divId: targetDiv});
            adobeDCView.previewFile(
                {
                    content:   {location: {url: newPDF}},
                    metaData: {fileName: documentTitle}
                },
				{
					showAnnotationTools: setAnnotationTools,
					showLeftHandPanel: pageThumbnails
				});
                
            //$("#" + targetDiv).attr('data-url', newPDF);
            $("#adobe-dc-view-url").val(newPDF);
            console.log("#" + targetDiv + ".data('url') set to: " + newPDF);
        }
	</script>
</body>
</html>
