<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Why Scale - Scale: Win more tenders</title>
	<meta name="description" content="With Scale, you can fully digitize your tendering process and increase your chances of winning by easily and accurately applying for more tenders.">
	<meta name="keywords" content="tenders...">
	<meta name="description" content="With Scale, you can fully digitize your tendering process and increase your chances of winning by easily and accurately applying for more tenders.">
	<meta name="keywords" content="tenders...">

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,700&display=swap" rel="stylesheet">
	<link href="global_assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/bootstrap_limitless.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/layout.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/components.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/colors.css" rel="stylesheet" type="text/css">
	<link href="global_assets/css/layouts/layout_2/default/compile/scale_fe.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="global_assets/js/main/jquery.min.js"></script>
	<script src="global_assets/js/main/bootstrap.bundle.min.js"></script>
	<script src="global_assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script src="global_assets/js/plugins/forms/selects/select2.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/app.js"></script>
	<!-- /theme JS files -->

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon-app/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-app/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-app/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon-app/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon-app/safari-pinned-tab.svg" color="#ff0000">
    <meta name="msapplication-TileColor" content="#42cfdf">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KPLT2M6');</script>
	<!-- End Google Tag Manager -->
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KPLT2M6"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->	
	
	<header class="p-3">
		<div class="fe-maxwidth d-md-flex">
			<div id="logo" class="d-flex justify-content-between">
				<a href="./">
					<img src="img/logo_dark.svg" alt="Scale">
				</a>
				<button class="btn btn-icon btn-link p-1 border-0 fe-mobile-toggle d-md-none"><i class="icon icon-2x icon-menu7 cursor-pointer"></i></button>
			</div>
			<ul class="fe-menu d-md-flex align-items-center flex-grow-1 mb-0">
				<li>
					<a href="how-it-works.html">How It Works</a>
				</li>
				<li>
					<a href="why-scale.html">Why Scale</a>
				</li>
				<li>
					<a href="pricing.html">Pricing</a>
				</li>
				<li>
					<a href="tenders.html">Find Tenders</a>
				</li>
				<li>
					<a href="faqs.html">FAQs</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li class="ml-md-auto mr-md-2">
					<a href="login.html" class="btn btn-outline-green">Sign In</a>
					<a href="register.html" class="btn btn-green">Try for FREE</a>
				</li>
			</ul>
		</div>
	</header>

	<section class="fe-heading bg-light text-center p-3 d-flex align-items-center justify-content-center">
		<div class="fe-heading-block animated fadeIn">
			<h1>
				Submit Tender
			</h1>
		</div>
	</section>

	

	<section class="bg-light">
		<div class="fe-maxwidth p-3 row justify-content-center align-items-center">


            <div class="col-xl-8">
            
        
                <form method="post" id="privateTendersUpload" action="/{{\Config::get('admin::config.admin_url')}}tenders/privatetender/create"  method="post" enctype="multipart/form-data">
                    <fieldset class="mt-2">
                        <legend class="text-uppercase font-size-sm font-weight-semibold">Your Contact Details</legend>

                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="closing-date">Name <i class="icon-info22 text-grey-300" data-popup="tooltip" title="" data-original-title="Why we need this."></i></label>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" name="firstname" class="form-control" id="firstname" placeholder="First name">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name">
                                    </div>
                                </div>
        
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="closing-date">Email <i class="icon-info22 text-grey-300" data-popup="tooltip" title="" data-original-title="Why we need this."></i></label>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="email" class="form-control" name="email" id="closing-time" placeholder="email">
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                        <legend class="text-uppercase font-size-sm font-weight-semibold">Tender Information</legend>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="title">Tender Title <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" name="tender_title" class="form-control required" id="title" data-popup="tooltip" data-trigger="focus" title="" data-original-title="Helps distinguish this specific RFP from your other tender applications">
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="refno">Reference Number <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <input type="text" name="tender_ref_no" class="form-control required" id="refno" data-popup="tooltip" data-trigger="focus" title="" data-original-title="Provides a Unique Identifier for this specific tender within your account">
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="category">Tender Category <i class="icon-info22 text-grey-300" data-popup="tooltip" title="" data-original-title="Helps us understand and provide the Category of tenders you are interested in"></i> <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="form-control select required self_category" name="tender_category" id="category" data-fouc>
                                    <option value="">Select...</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="tender-type">Type of Tender <i class="icon-info22 text-grey-300" data-popup="tooltip" title="" data-original-title="Helps us understand and provide the Type of tenders you are interested in"></i> <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <select class="form-control select required" id="tender-type" name="tender_type">
                                    <option value="">Select...</option>
                                    <option value="Open Tender">Open Tender</option>
                                    <option value="Restricted Tender">Restricted Tender</option>
                                    <option value="Request for Quotation">Request for Quotation</option>
                                    <option value="Expression of Interest">Expression of Interest</option>
                                    <option value="Design Competition">Design Competition</option>
                                    <option value="Direct/Single Source Procurement">Direct/Single Source Procurement</option>
                                    <option value="Framework Agreement">Framework Agreement</option>
                                    <option value="Two Stage Tendering">Two Stage Tendering</option>
                                    <option value="Request for Proposal">Request for Proposal</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="fee">Tender application fee</label>
                            <div class="col-lg-8">
        
                                <div class="row">
                                    <div class="col-4">
        
                                        <span class="input-group">
                                            <select name="currency" class="select" id="currency">
                                                <option value="">Currency</option>
                                                <option value="KES">KES</option>
                                                <option value="USD">USD</option>
                                                <option value="EUR">EUR</option>
                                            </select>
                                        </span>
        
                                    </div>
        
                                    <div class="col-8">
                                        <input type="text" name="application_fee" class="form-control" id="fee">
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="published">Date Published</label>
                            <div class="col-lg-8">
                                <input type="text" name="publication_date" class="form-control datepickself" id="published">
                            </div>
                        </div>
        
                        <legend class="text-uppercase font-size-sm font-weight-semibold">Procuring Entity <span class="text-danger">*</span></legend>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="entity">Name of Procuring Entity</label>
                            <div class="col-lg-8">
                                <input type="text" name="org_name" class="form-control" id="entity" data-popup="tooltip" data-trigger="focus" title="" data-original-title="Helps distinguish this specific Procuring Entity from other entities on the system">
                            </div>
                        </div>
        
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right">Sector <i class="icon-info22 text-grey-300" data-popup="tooltip" title="" data-original-title="Helps us understand and provide the Sectors you are interested in"></i> <span class="text-danger">*</span></label>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="government" checked="checked" class="form-check-input-styled entity-choice required" name="entity_sector" data-fouc>
                                                Government
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" value="private" class="form-check-input-styled entity-choice required" name="entity_sector" data-fouc>
                                                Private
                                            </label>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                        <div class="form-group row sc-entity-sector" id="entity-sector-government" >
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="category-govt">Type of Entity</label>
                            <div class="col-lg-8">
                                <select class="form-control select self_govt_entities" name="govt_entity_type" id="category-govt" data-fouc>
                                    <option value="">Select...</option>
                                </select>
                            </div>
                        </div>
        
                        <div class="form-group row sc-entity-sector" id="entity-sector-private" style="display: none;">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="category-private">Type of Entity</label>
                            <div class="col-lg-8">
                                <select class="form-control select" id="category-private" name="private_entity_type" data-fouc>
                                    <option value="">Select...</option>
                                    <option value="Private Company">Private Company</option>
                                    <option value="Public Listed Company">Public Listed Company</option>
                                    <option value="Education Institution">Education Institution</option>
                                    <option value="Non-Governmental Organization">Non-Governmental Organization</option>
                                    <option value="Community Based Organization">Community Based Organization</option>
                                    <option value="Faith Based Organization">Faith Based Organization</option>
                                    <option value="Multinational">Multinational</option>
                                    <option value="Foreign-Based Company">Foreign-Based Company</option>
                                </select>
                            </div>
                        </div>
                        <legend class="text-uppercase font-size-sm font-weight-semibold">Submission Details</legend>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="closing-date">Submission Deadline Date/ Time <i class="icon-info22 text-grey-300" data-popup="tooltip" title="" data-original-title="Get notified when the tender deadline is due to ensure your Timely Submission"></i></label>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <input type="text" name="closing_date" class="form-control datepickself" id="closing-date" placeholder="date">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control timepick" name="closing_time" id="closing-time" placeholder="time">
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="closing-date">Opening Date / Time</label>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <input type="text" name="opening_date" class="form-control datepickself" id="opening-date" placeholder="date">
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="opening_time" class="form-control timepick" id="opening-time" placeholder="time">
                                    </div>
                                </div>
        
                            </div>
                        </div>
        
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="opening-venue">Opening Venue</label>
                            <div class="col-lg-8">
                                <input type="text" name="opening_venue" class="form-control" id="opening-venue">
                            </div>
                        </div>
        
                        <div class="form-group row">
                            <label class="col-form-label col-lg-4 cursor-pointer text-lg-right" for="other-details">Other Details</label>
                            <div class="col-lg-8">
                                <textarea class="form-control" name="other_details" id="other-details"></textarea>
                            </div>
                        </div>
        
        
                    </fieldset>
                </form>
        
                <div class="mb-1 mt-3 text-muted">
                    Maximum size: 10MB | File type: PDF
                </div>
                <form action="/{{Config::get('admin::config.admin_url')}}tenders/upload" class="dropzone dz-clickable dz-" style="min-height:10rem !important;" id="dropzone_selfupload" method="post" enctype="multipart/form-data">
                    <div class="dz-default dz-message" style="height:10rem !important;">
                        <span style="margin-top: 0rem !important;">Drop file to upload <span>or CLICK</span></span>
                    </div>                        
                </form>
        
                <div class="py-3 text-right">
                    <button type="button" class="btn bg-green btn-lg myupload" disabled>Start Application <i class="icon-arrow-right16"></i></button>
                </div>
            </div>
            
			
		</div>
	</section>

    


	<section class="fe-cta py-3">
		<div class="fe-maxwidth py-3 px-3 text-center text-md-left">
			<div class="row flex-column-reverse flex-md-row align-items-center justify-content-center my-3">
				<div class="col-md-4 ml-md-auto">
					<h1>
						Get alerts from Safaricom PLC
					</h1>
					<p>
						Follow Safaricom and get alerts whenever they publish a tender.
					</p>
					<p class="mt-3">
						<a class="btn btn-green btn-lg" href="#" data-toggle="modal" data-target="#modal_register">Try for FREE</a>
					</p>
				</div>
				<div class="col-md-3 col-xl-2 mx-auto">
					<img src="img/get-started-cloud.svg" alt="The Scale Process">
				</div>
			</div>
		</div>
	</section>

	<section class="bg-teal-300 fe-newsletter pt-3">
		<div class="fe-maxwidth px-3">
			<div class="row align-items-center my-3">
				<div class="col-md-6">
					<h2 class="text-white">
						Subscribe to our weekly newsletter.
					</h2>
					<p>
						Get the latest on procurement and business opportunities.
					</p>
				</div>
				<div class="col-md-6 pt-2">
					<div class="form-group row">
						<div class="col-8">
							<input type="text" class="form-control py-2 " placeholder="email address">
						</div>
						<div class="col-4">
							<input type="submit" class="btn btn-block bg-teal-800 text-uppercase py-2" value="Subscribe">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="fe-footer py-3 mt-auto px-2">
		<div class="fe-maxwidth">
			<div class="row pb-3 border-bottom-1 border-bottom-grey-300">
				
				<div class="row col-md-8 my-1 text-center text-md-left">
					<div class="col-12 py-2 font-size-lg">
						<a href="./" class="text-slate mx-1">Home</a>
						<a href="how-it-works.html" class="text-slate mx-1">How It Works</a>
						<a href="why-scale.html" class="text-slate mx-1">Why Scale</a>
						<a href="pricing.html" class="text-slate mx-1">Pricing</a>
						<a href="tenders.html" class="text-slate mx-1">Find Tenders</a>
						<a href="faqs.html" class="text-slate mx-1">FAQs</a>
						<a href="blog.html" class="text-slate mx-1">Blog</a>
					</div>
					<div class="col-12 py-2">
						<a href="about.html" class="text-slate mx-1">About Us</a>
						<a href="procuring-entities.html" class="text-slate mx-1">Procuring Entities</a>
						<a href="privacy.html" class="text-slate mx-1">Privacy Policy</a>
						<a href="terms.html" class="text-slate mx-1">Terms of Use</a>
					</div>
				</div>
				<div class="col-md-4 text-center text-md-right my-auto">
					<!-- <a href="#" data-toggle="modal" data-target="#modal_share_site" class="btn btn-icon bg-white mx-1 btn-sm rounded-round text-slate"><i class="icon icon-share3"></i></a> -->
					<a href="#" data-toggle="modal" data-target="#modal_contact" class="btn btn-icon bg-slate mx-1 btn-sm rounded-round text-slate"><i class="icon icon-envelop5"></i></a>
					<a href="https://www.facebook.com/ScaleKenya/" target="_blank" class="btn btn-icon bg-slate mx-1 btn-sm rounded-round text-slate"><i class="icon icon-facebook"></i></a>
					<a href="https://twitter.com/ScaleKenya" target="_blank" class="btn btn-icon bg-slate mx-1 btn-sm rounded-round text-slate"><i class="icon icon-twitter"></i></a>
					<a href="https://www.youtube.com/channel/UCu7oEOngtInbh81aqb2BuYA" target="_blank" class="btn btn-icon bg-slate mx-1 btn-sm rounded-round text-slate"><i class="icon icon-youtube"></i></a>
					<a href="https://www.linkedin.com/company/scalekenya/" target="_blank" class="btn btn-icon bg-slate mx-1 btn-sm rounded-round text-slate"><i class="icon icon-linkedin2"></i></a>
				</div>
			</div>
			<div class="row font-size-sm py-3">
				<div class="col-md-6 text-center text-md-left my-auto py-2">
					Made with <img class="heartbeat ml-1 mr-3 flag" src="img/kenyan-love.svg" alt=""> &copy; 2020, Scale Management Ltd.
				</div>
				<div class="col-md-6 d-lg-flex align-items-center text-center text-md-right my-auto">
					<div class="text-md-left font-size-xs mr-xl-1">
						<h6 class="text-md-left font-weight-semibold text-uppercase mb-0 font-size-xs">Safe & Secure</h6>
						<p>
							All documents uploaded, payments made, and other any personal/business information you update onto Scale are encrypted during transmission and will remain secure & accessible only to you.
						</p>
					</div>
					<a class="fe-security-badge m-2" href="https://flutterwave.com/us/blog/flutterwave-payments-protection-promise" target="_blank"><img src="img/secure-flutterwave.svg" alt=""></a>
					<a class="fe-security-badge m-2" href="https://letsencrypt.org/how-it-works/" target="_blank"><img src="img/secure-le.svg" alt=""></a>
				</div>
			</div>
			
		</div>
	</footer>


	<script src="assets/js/custom.js"></script>
</body>
</html>
