:root {
	--col-text-dark: hsl(0, 0%, 20%);
	--col-text-light: hsl(0, 0%, 60%);
	--col-page-background: hsl(0, 0%, 96%);
	--col-card-background: hsl(0, 0%, 100%);
	--col-white: hsl(0, 0%, 100%);
	--col-grey-98: hsl(0, 0%, 98%);
	--col-grey-95: hsl(0, 0%, 95%);
	--col-grey-90: hsl(0, 0%, 90%);
	--col-grey-85: hsl(0, 0%, 85%);
	--col-grey-70: hsl(0, 0%, 70%);
	--col-grey-50: hsl(0, 0%, 50%);
	--col-scale-green: hsl(153, 50%, 48%);
	--col-scale-green-darker: hsl(153, 50%, 40%);
	--col-scale-green-lighter: hsl(153, 50%, 70%);
	--col-scale-green-200: hsl(153, 50%, 80%);
	--col-scale-green-100: hsl(153, 50%, 90%);
	--col-scale-green-50: hsl(153, 50%, 95%);
	--col-scale-green-25: hsl(153, 50%, 97%);
	--col-confident-blue: hsl(219, 37%, 24%);
	--col-confident-blue-darker: hsl(218, 37%, 18%);
	--col-confident-blue-lighter: hsl(218, 37%, 34%);
	--col-confident-blue-200: hsl(218, 37%, 80%);
	--col-confident-blue-100: hsl(218, 37%, 90%);
	--col-confident-blue-50: hsl(218, 37%, 95%);
	--col-confident-blue-25: hsl(218, 37%, 98%);
	--col-trusting-blue: hsl(186, 71%, 57%);
	--col-trusting-blue-darker: hsl(186, 71%, 45%);
	--col-trusting-blue-lighter: hsl(186, 71%, 67%);
	--col-trusting-blue-200: hsl(186, 71%, 80%);
	--col-trusting-blue-100: hsl(186, 71%, 90%);
	--col-trusting-blue-50: hsl(186, 71%, 95%);
	--col-trusting-blue-25: hsl(186, 71%, 98%);
	--col-warning: hsl(29, 100%, 53%);
	--col-warning-darker: hsl(29, 100%, 43%);
	--col-warning-lighter: hsl(29, 100%, 63%);
	--col-warning-200: hsl(29, 100%, 80%);
	--col-warning-100: hsl(29, 100%, 90%);
	--col-warning-50: hsl(29, 100%, 95%);
	--col-danger: hsl(13, 100%, 53%);
	--col-danger-darker: hsl(13, 96%, 32%);
	--col-danger-lighter: hsl(13, 96%, 63%);
	--col-danger-200: hsl(13, 96%, 80%);
	--col-danger-100: hsl(13, 96%, 90%);
	--col-danger-50: hsl(13, 96%, 95%);
  
	--font-body: 'Work Sans', sans-serif;
	--font-title: 'Rubik', sans-serif;
	--work-letter-spacing: -.02em;
	--rubik-letter-spacing: 0em;
  
	--box-input-radius: .3em;
	--box-button-radius: .3em;
	--box-card-radius: .5em;
  
	--header-height: 4rem;
	/* --sidebar-width: 16rem; */
	--sidebar-width-icons: 4.2rem;
  
	--spacing-1: .25rem;
	--spacing-2: .5rem;
	--spacing-3: .75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.5rem;
	--spacing-6: 2rem;
  
	--transition: .3s ease-in-out;
	--soft-shadow: 4px 4px 10px rgba(17, 19, 21, 0.05);
	--soft-shadow-down: 0 4px 10px rgba(17, 19, 21, 0.05);
	--soft-shadow-right: 4px 0 10px rgba(17, 19, 21, 0.05);
	--modal-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, 
					rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
	--input-border: 1px solid var(--col-grey-95);
	--input-border-hover: var(--col-grey-85);
	--checkbox-border: 2px solid var(--col-grey-70);
	--checkbox-border-active: 2px solid var(--col-grey-70);
  
	--overlay-active: .75;
	--focus-outline: rgb(59, 153, 252) auto 5px;
	--focus-outline-offset: 0px;
}
body {
	font-family: "Work Sans", sans-serif;
	background: #fff;
	letter-spacing: -.01em;
	font-size: .95rem;
}
.font-size-lg {
	font-size: 1.1rem !important;
}
h1,
h2 {
    color: #1A2B44;
    font-weight: 600;
}
h1,
h2,
h3,
h4 {
	line-height: 1.2;
	font-weight: 600;
}
#logo img {
    width: 100px;
    display: block;
}
#logo a {
    display: block;
}
.sc-error-page {
	background: #fff;
}
.btn-outline-green {
	color: #44AD6D;
	background-color: transparent;
	background-image: none;
	border-color: #44AD6D;
}
.btn-outline-green:hover {
	color: #fff;
	background-color: #44AD6D;
	border-color: #44AD6D;
}
.btn-outline-green.disabled {
	color: #44AD6D;
	background-color: transparent;
}
.btn-outline-green:not([disabled]):not(.disabled):active,
.show > .btn-outline-green.dropdown-toggle {
	color: #fff;
	background-color: #44AD6D;
	border-color: #44AD6D;
}
.btn-green {
	color: #fff;
	background-color: #44AD6D;
}
.btn-green:hover {
	color: #fff;
	background-color: #44AD6D;
}


.btn-outline-slate {
	color: #1A2B44;
	background-color: transparent;
	background-image: none;
	border-color: #1A2B44;
}
.btn-outline-slate:hover {
	color: #fff;
	background-color: #1A2B44;
	border-color: #1A2B44;
}
.btn-outline-green.disabled {
	color: #1A2B44;
	background-color: transparent;
}
.btn-outline-slate:not([disabled]):not(.disabled):active,
.show > .btn-outline-slate.dropdown-toggle {
	color: #fff;
	background-color: #1A2B44;
	border-color: #1A2B44;
}
.btn-slate {
	color: #fff;
	background-color: #1A2B44;
}
.btn-slate:hover {
	color: #fff;
	background-color: #1A2B44;
}
  
.fe-section-title {
	font-size: 1.52em;
	white-space: nowrap;
}
.fe-maxwidth {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.fe-menu {
    list-style: none;
    padding: 0;
}
.fe-menu a:not(.btn) {
    display: block;
    padding: .5em;
	color: inherit;
}
.fe-menu a:not(.btn):hover {
    color: #42CFDF;
}
.fe-hero .fe-maxwidth {
	min-height: 80vh;
}
.fe-hero-block {
    font-size: 1.2em;
}
.fe-heading-block {
    font-size: 1.2em;
	max-width: 560px;
	padding-top: 2em;
	padding-bottom: 2em;
}
.fe-hero-block h1 {
    font-size: 1.6em;
    margin-bottom: .5em;
}
.fe-hero-block p {
    margin-bottom: 2em;
}
.fe-hero-block img {
    display: block;
	/* width: 65%; */
	max-width: 80%;
	margin: auto;
}
.fe-biz-logos {
	max-width: 90%;
	padding: .5em;
	overflow: scroll;
	white-space: nowrap;
}
.fe-businesses img {
	display: inline-block;
	width: auto;
	height: 40px;
	margin: 5px;
	filter: grayscale(1);
}
.fe-demo .carousel-indicators,
.fe-with-scale .carousel-indicators {
    position: relative;
	display: flex;
	text-transform: uppercase;
	margin-top: 32px;
}
.fe-demo .carousel-indicators li,
.fe-with-scale .carousel-indicators li {
	text-transform: uppercase;
	text-indent: 0;
	margin:0 .5em;
	width: auto;
	height: auto;
	background-color: transparent;
}
.fe-demo .carousel-indicators h4,
.fe-with-scale .carousel-indicators h4 {
	opacity: 0.5;
	line-height: 1.2;
	font-size: .8em;
	padding: 0 0 .2em;
	border-bottom: 1px solid #ccc;
}
.fe-demo .carousel-indicators li.active h4,
.fe-with-scale .carousel-indicators li.active h4 {
	opacity: 1;
	color: #42CFDF;
	border-bottom: 2px solid #42CFDF;
}
.fe-demo .carousel-indicators li.active,
.fe-with-scale .carousel-indicators li.active {
	background-color: transparent;

}
.fe-demo img {
	display: block;
	margin: auto;
	width: 100%;
}
.fe-with-scale .carousel-inner ol {
	list-style: none;
}
.fe-with-scale .carousel-inner ol li {
	position: relative;
	padding: .5em 0 .5em 1em;
}
.fe-with-scale .carousel-inner ol li span {
	position: absolute;
	width: 1.5em;
	text-align: center;
	left: -1.5em;
	border-radius: 50%;
	font-weight: 600;
}
.fe-get-value {
	margin-top: 2em;
}
.fe-get-value h1 {
	font-size: 3em;
	margin-bottom: 0;
	font-weight: 400;
}
.fe-get-value h5 {
	line-height: 1.1;
}
.fe-get-value p {
	max-width: 300px;
	margin: auto;
}
.fe-cta {
	/* background-color: var(--col-scale-green-25); */
}
.fe-cta img {
	width: auto;
	height: 50vh;
	max-height: 300px;
}
.fe-about-wide {
	font-size: 1.4em;
}
.fe-home-wide .fe-maxwidth {
	padding: 2em 0;
}
.fe-home-wide h2 {
	font-size: 2em;
}
.fe-section-icon {
	display: block;
	margin: 1em auto auto auto;
	max-width: 30ch;
}
.fe-section-icon img {
	display: block;
	object-fit: contain;
	height: 80px;
	width: auto;
	margin: 0 auto 1em auto;
}
.fe-section-icon h5 {
	font-weight: 600;
	line-height: 1.1;
}
.fe-demo {
	min-height: 60vh;
}
.fe-about-wide img,
.fe-home-wide img {
    max-width: 100%;
}
.card {
	border: none !important;
	border-radius: .5rem;
}
.card-header:first-child {
    border-radius: .5rem .5rem 0 0;
}
.card-footer:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}
.card:not(.shadow-0),
.sc-shadow:not(.shadow-0) {
	box-shadow: 0 1px 6px rgba(0,0,0,0.08) !important;
}
.badge-success {
	color: #fff;
}
.rounded-bottom {
	border-bottom-right-radius: 0.5rem !important;
	border-bottom-left-radius: 0.5rem !important;
}
.rounded-top {
	border-top-right-radius: 0.5rem !important;
	border-top-left-radius: 0.5rem !important;
}
.sidebar-light {
	border-right: none;
}
.modal-content {
	border: none;
	border-radius: .5rem;
	box-shadow: 0 1px 6px rgba(0,0,0,0.08) !important;
}
.modal-backdrop {
	background-color: #1A2B44;
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	transition: .5s all ease-in-out;
}
.modal-backdrop.show {
	opacity: 1;
	background-color: rgba(26, 43, 68, 0.5);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
.table thead th {
	border-color: #eee;
}
.btn-primary,
.btn-primary:hover {
	color: #fff;
}
.sidebar-xs .sc-menu-hide {
	display: none;
}
body:not(.sidebar-xs) .sc-menu-show {
	display: none;
}
.sc-word-wrap {
	word-wrap: break-word !important;
}
.alert:not(.alert-styled-left):not(.alert-styled-right) {
	border: none;
}
.alert {
	box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	border-radius: .5rem !important;
}
.alert-styled-left {
	border-top: none;
	border-right: none;
	border-bottom: none;
}
.alert-styled-right {
	border-top: none;
	border-left: none;
	border-bottom: none;
}
.alert-link {
	text-decoration: underline;
}
.sc-pointer {
	cursor: pointer;
}
.sc-max-lines-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-height: 1.5385;
	max-height: 1.7em;
}
.sc-max-lines-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5385;
	max-height: 3.4em;
}
.sc-max-lines-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 1.5385;
	max-height: 5.1em;
}
.fe-blog-excerpt {
	font-size: 1.2em;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	line-height: 1.5385;
	max-height: 6.1em;
}
.select2-results__option > .select2-results__group {
	/* font-weight: .8em; */
	text-transform: uppercase;
}
.uniform-checker span,
.uniform-choice span {
	border-color: #cccccc;
	color: #1A2B44;
}
.uniform-checker span.checked,
.uniform-choice span.checked {
	color: #1A2B44;
}
.sc-categories .form-check .uniform-checker {
    top: 50%;
    transform: translateY(-50%);
}
.uniform-choice span.checked::after {
	border-color: #1A2B44;
}
.breadcrumb {
	padding-top: .5rem;
}
.breadcrumb-item {
	padding: 0.2rem 0;
}
a.breadcrumb-item, a.breadcrumb-elements-item {
	color: #999;
}
.select2-selection--single:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.select2-selection--single:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.form-control {
	border-color: #f6f6f6;
	background-color: #f6f6f6;
}
.sc-document-folder {
	background: #f4f4f4;
	flex-basis: 100%;
}
.sc-folder-open {
	display: none;
}
.sc-folder-closed {
	display: block;
}
[aria-expanded=true] > .sc-folder-open {
	display: block;
}
[aria-expanded=true] > .sc-folder-closed {
	display: none;
}
[aria-expanded=true] > div > div > .icon-arrow-down22,
[aria-expanded=true] > .icon-arrow-down22 {
	transform: rotate(180deg);
}
.sc-tender-row:not(:hover) .sc-max-lines-2 {
	color: inherit !important;
}
.jGrowl-closer {
	background: #1A2B44;
	color: #fff;
	border: none;
}
.fe-footer {
	/* background: #DCDEE2; */
}
.fe-security-badge {
	display: block;
}
.fe-security-badge {
	display: inline-block;
}
.fe-security-badge img {
	display: block;
	height: 50px;
	width: auto;
}
.blog-visual {
	overflow: hidden;
}
.blog-visual img {
	display: block;
	width: 100%;
	height: auto;
}
.fe-blog-article,
.sc-faq-content {
	font-size: 1.2em;
}
.fe-blog-header {
	max-width: 1200px;
	margin: auto;
	height: auto;
}
.fe-blog-header img {
	display: block;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	height: auto;
}
.fe-blog-article img,
.sc-faq-content img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 1em;
}
.fe-blog-article figure {
	max-width: 100%;
}
.fe-blog-article figure img {
	margin-bottom: 0;
}
.fe-blog-article figure figcaption {
	border-bottom: 1px solid #eee;
	color: #777;
	text-align: center;
	font-size: .8em;
	padding: .5em;
}
.fe-blog-article h1,
.sc-faq-content h1 {
	font-size: 2em;
}
.fe-blog-article h2,
.fe-blog-article h3,
.fe-blog-article h4,
.fe-blog-article h5,
.fe-blog-article h6,
.sc-faq-content h2,
.sc-faq-content h3,
.sc-faq-content h4,
.sc-faq-content h5,
.sc-faq-content h6,
.fe-terms-article h2,
.fe-terms-article h3,
.fe-terms-article h4,
.fe-terms-article h5,
.fe-terms-article h6 {
	font-weight: 600;
}
.fe-blog-article h3,
.sc-faq-content h3,
.fe-terms-article h3 {
	color: #1A2B44;
}
.fe-blog-article h4,
.sc-faq-content h4,
.fe-terms-article h4 {
	color: #42CFDF;
}
.fe-blog-article h5,
.sc-faq-content h5,
.fe-terms-article h5,
.fe-blog-article h5,
.sc-faq-content h5,
.fe-terms-article h5 {
	color: #1A2B44;
}
.fe-blog-article ul li,
.sc-faq-content ul li,
.fe-terms-article ul li {
	list-style: none;
	position: relative;
}
.fe-blog-article ul li:before,
.sc-faq-content ul li:before,
.fe-terms-article ul li:before {
	content: "";
	display: inline-block;
	position: absolute;
	width:  .6em;
	height: .6em;
	background-color: #42CFDF;
	margin-top: .6em;
	/* left: -1.5em; */
	border-radius: .2em;margin-left: -1.5em;
}
.fe-blog-article .fe-blog-summary {
	padding-top: 1em;
}
.fe-blog-article .fe-blog-summary p {
	opacity: .6;
	max-width: 760px;
	margin-bottom: 2em;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2em;
	padding-right: 2em;
}
.fe-blog-article blockquote {
	float: left;
	max-width: 60%;
	color: #42CFDF;
	font-size: 1.5em;
	padding-right: 1em;
	line-height: 1.2;
	font-weight: 500;
}
.fe-blog-article blockquote p {
	margin: 0;
}
.fe-blog-search-field {
	max-height: 0;
	overflow: hidden;
	box-sizing: border-box;
	transition: .5s max-height ease-in-out;
}
.show-search .fe-blog-search-field,
.show-menu .fe-blog-search-field {
	max-height: 70px;
}
.fe-blog-cta.card {
	background: url("../../../../../../img/hero-banner.png") no-repeat center;
	background-size: cover;
}
.fe-blog-cta .card-body {
	background-color: rgba(255, 255, 255, .5) !important;
}
.pagination-flat .page-item.active .page-link {
	background: #999;
	border: none;
}
.sc-icons-svg {
	display: inline-block;
	vertical-align: text-bottom;
	width: 1.3em;
	height: auto;
	margin: 0;
}
.fe-social-icons {
	display: inline-block;
	width: 4em;
	vertical-align: middle;
	margin: .2em;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
.fe-social-icons img {
	display: block;
	width: 100%;
	height: auto;
	filter: saturate(.0);
	margin: 0;
	transition: .5s filter ease-in-out;
}
.fe-social-icons:hover img {
	filter: saturate(1);
}
.fe-why-scale-icon {
	display: inline-block;
	width: 200px;
	height: auto;
	margin-bottom: 1em;
}
.fe-auth-form {
	max-width: 480px;
}
.flag {
    width: 16px;
    vertical-align: middle;
    margin-bottom: 4px;
}
.heartbeat {
	display: inline-block;
	animation: heartbeat 2s infinite;
}
@keyframes heartbeat {
	0% {
		transform: scale(1);
	}
	10% {
		transform: scale(1.2);
	}
	20% {
		transform: scale(1);
	}
	30% {
		transform: scale(1.2);
	}
	40% {
		transform: scale(1);
	}
	100% {
		transform: scale(1);
	}
}
.statement-overlay {
	position: sticky;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 1.2em;
	z-index: 15;
}

.demovid-container {
	position: fixed;
	z-index: 101;
	width: 89vw;
	max-width: 960px;
	height: 50vw;
	max-height: 540px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	display: none;
}

.demovid-container iframe,
.demovid-container object,
.demovid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.close-demovid {
	position: absolute;
	width: 30px;
	height: 30px;
	top: -30px;
	right: 0;
	cursor: pointer;
	text-align: center;
	color: #fff;
}
.demovid-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(26, 43, 68, 0.5);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	display: none;
}
.fe-faq-sidebar {
	position: sticky;
	top: 70px;
}
.fe-faq-sidebar .nav-link:not(:hover) {
	color: inherit;
}
.fe-faq-sidebar .nav-link.bg-primary {
	color: #fff;
}
.fe-faq .media[aria-expanded=true] h5 {
	color: #42CFDF;
}
.sc-pricing-value {
	background-color: #44AD6D11;
	position: relative;
}
.sc-pricing-value:before {
	content: "best value";
	font-size: .75em;
	letter-spacing: 1px;
	position: absolute;
	background-color: #44AD6D;
	color: #fff;
	margin: auto;
	border-radius: 3px;
	top: -.8em;
	right: 0;
	left: 0;
	width: 15ch;
	text-align: center;
	text-transform: uppercase;
	padding: 2px 0;
}
.pricing .nav-link {
	background-color: #f1f1f1;
	border: 1px solid #fff;
	line-height: 1;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 1.5em;
}
.pricing .nav-link.active .text-green {
	color: inherit;
}
.sc-price-amount {
	font-size: 2em;
}
.card-price {
	margin-bottom: 0;
}
.pricing-feature-list a {
	color: inherit;
	border-bottom: 1px dashed #aaa;
	cursor: pointer;
}
.fe-page-nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin-bottom: 0;
}
.fe-page-nav li {
	margin: .5em;
}
.fe-page-nav a {
	display: block;
	padding: 0 .5em;
}
.fe-works-section .carousel-indicators {
	display: block;
	position: relative;
	margin: 0;
}
.fe-works-section .carousel-indicators li {
	width: auto;
	text-indent: 0;
	height: auto;
	background: transparent;
	border-top: 1px solid #eee;
	padding-top: .5em;
}
.fe-works-section .carousel-indicators h4 {
	margin: 0;
	/* color: #42CFDF; */
}
.fe-works-section .carousel-indicators .active h4 {
	font-weight: 600;
}
.fe-works-section .fe-works-content {
	/* transform: scaleY(0); */
	opacity: 0;
	max-height: 0;
	padding-top: .5em;
	transition: all 500ms ease-in-out;
}
.fe-works-section li.active .fe-works-content {
	/* transform: scaleY(1); */
	opacity: 1;
	max-height: 700px;
	overflow: auto;
	transition-delay: 350ms;
}
.fe-works-section img {
	width: 100%;
    max-width: 600px;
    margin: .5em auto;
}
.fe-newsletter .form-control {
	background-color: #009688;
	border-color: #009688;
	color: #fff;
}
.fe-newsletter .form-control::placeholder {
	color: #fff9;
}
.fe-newsletter .form-control:focus,
.fe-newsletter .form-control:hover {
	color: #fff;
}

/* Added Css end */
.custom-select {
	font-size: .85rem;
}
header.header-bg{
	background:#FFF;
}
.logo-sm img {
    width: auto !important;
    height: 20px;
}
.fe-menu .active a {
    color: #4ead6e;
}
.bg-blue{
	background:#42CFDF;
}
.fe-hero-white.fe-hero .fe-maxwidth {
    min-height: unset;
}
.fe-hero-white.fe-hero .btn{
	padding: 12px 30px;
	color: #44AD6D;
}
.fe-hero-white .fe-hero-block img {
    max-height:55vh;
}
.fe-hero-white .fe-hero-block h1 {
    color:#FFF;
}
.fe-works-section-2 img {
    max-width: 500px;
}
.service-card img {
	height: 160px;
	width: auto;
	object-fit: contain;
}
.service-card p {
    margin: .2em auto 2em;
    max-width: 45ch;
}
.service-card .btn.btn-white {
    background: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    margin: 15px auto 0;
    padding: 11px 21px;
    color: #000;
}
.title-large {
	font-size:60px;
	color: #FFF;
	text-transform: capitalize;
	padding-right:60px;
}
h2.text-lg {
    font-weight: 600;
    font-size: 2rem;
}
.bg-background{
	position: relative;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}
.bg-background:before{
	content: "";
	background: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.review-text {
    font-size:2rem;
    font-weight: 300;
    line-height: 1.2;
}
.quote-link a{
	color:#FFF;
	font-size: 21px;
	margin-bottom: 15px;
	margin-top: 30px;
	font-weight:500;
}
.quote-link a:hover{
	color:#3EB881;
}

.u-blockquote{
	font-size:2rem;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 0;
	text-align: center;
}
.u-blockquote::before, 
.u-blockquote::after {
    /* content: "\201C"; */
    position: absolute;
    font-size:5rem;
    margin-top: -20px;
}
.u-blockquote::before {
    margin-left: -30px;
}
.u-blockquote::after {
    margin-left: 13px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    margin-top: -50px;
}
.mobile {
    display: none !important;
}
.card:not(.shadow-0),
.sc-shadow:not(.shadow-0) {
	box-shadow: rgba(0,0,0,0.08) 0px 15px 20px -5px, 
		rgba(0,0,0,0.08) 0px 8px 10px -6px !important;
}
@media screen and (max-width:991px){
.mobile{
	display: inline-block !important;
}
.desktop{
	display: none !important;
}
}
@media screen and (max-width:767px){
.fe-hero-white .fe-hero-block img {
    /* height: 60vh; */
}
.title-large {
    font-size: 1.8rem;
    padding-right: 0;
}
.review-text {
    font-size: 2rem;
}
.service-card{
	padding:2rem 1.75rem;
}
.fe-hero-white.fe-hero .fe-maxwidth p,
.fe-hero-white.fe-hero .fe-maxwidth h1{
	padding:0 30px;
}
.fe-hero-white.fe-hero .fe-maxwidth p{
	font-size: 15px;
}
.u-blockquote {
    font-size: 1.8rem;
    padding: 0 30px;
}
}

/* Added end */

@media (max-width: 768px) {  /* -sm- */
	.fe-menu {
		box-sizing: border-box;
		overflow: hidden;
		max-height: 0;
		transition: .5s max-height ease-in-out, .5s margin ease-in-out;
	}
	.show-menu .fe-menu {
		border-top: solid #eee 1px;
		margin-top: 1em;
		max-height: 100vh;
		overflow-y: auto;
	}
	.fe-menu li {
		border-bottom: solid #eee 1px;
	}
	.fe-menu .btn {
		display: block;
		margin: 1em;
	}
	.fe-menu a:not(.btn) {
		padding: 1em;
	}
}
@media (min-width: 768px) {  /* -md- */
    #logo {
        margin-right: 2em;
    }
	#logo img {
		width: 140px;
	}
    .fe-menu {
        font-size: 1.1em;
		flex-shrink: 0;
		display: block;
	}
	.fe-section-icon img {
		display: block;
		height: 80px;
		width: auto;
		margin: 0 auto 1em auto;
	}
	.fe-demo img {
		display: block;
		max-width: 670px;
		margin: auto;
	}
	.sc-tender-rows:hover .sc-tender-row:not(:hover) {
		background: #f7f7f7;
		/* opacity: .8; */
	}
	.sc-tender-row:not(:hover) a,
	.sc-tender-row:not(:hover) .icon {
		color: inherit !important;
	}
	.sc-tender-row:not(:hover) .bg-green {
		background-color: #f6f6f6 !important;
	}
	.fe-blog-article,
	.sc-faq-content {
		font-size: 1.4em;
		line-height: 1.8;
	}
	.fe-blog-article-data {
		position: sticky;
		top: 100px;
	}
	.fe-blog-article blockquote {
		margin-left: -3em;
		font-size: 1.6em;
	}
    
    .fe-blog-article figure.alignleft {
        max-width: 70%;
        float: left ;
        margin-right: 1em;
        margin-left: -20%;
    }
	.fe-page-nav {
		position: sticky;
		top: 0px;
		z-index: 99;
	}
	.fe-page-nav li {
		display: inline-block;
	}
}
@media (min-width: 992px) { /* -lg- */
	header {
		position: sticky;
		top: 0;
		z-index: 99;
		/* box-shadow: 0px 1px 3px rgba(0,0,0,0.08); */
		background: rgb(255,255,255);
		background: linear-gradient(180deg, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.95) 70%, rgba(255,255,255,0) 100%); 
	}
	.fe-tender-preview-container {
		position: relative;
		min-height: 80vh;
	}
	.fe-tender-preview {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.statement-overlay .maxwidth {
		margin-right: auto;
	}
}
@media (min-width: 1200px) { /* -xl- */
	.fe-maxwidth {
		max-width: 1200px;
	}
	.sc-right-float-modal {
		margin-right: 1.75em;
	}
	.fe-hero-block h1 {
		font-size: 2em;
	}
	.fe-hero-block h1 {
		font-size: 2em;
	}
	.fe-hero-block img {
		width: auto;
		height: 60vh;
		max-width: 100%;
	}
	.fe-security-badge img {
		height: 70px;
	}
}

