:root {
	--green: #3EB881;
	--green-dark: #329367;
	--slate: #273855;
	--focusmode-transition: .6s cubic-bezier(.26,.07,.46,1.01);
	--application-pages-height: calc(100vh - 280px);
	--warning: #FF9243;
}
.documents-page {
	--application-pages-height: calc(100vh - 200px);
}
/* variables */
:root {
	--col-text-dark: hsl(0, 0%, 20%);
	--col-text-light: hsl(0, 0%, 60%);
	--col-page-background: hsl(0, 0%, 96%);
	--col-card-background: hsl(0, 0%, 100%);
	--col-white: hsl(0, 0%, 100%);
	--col-grey-98: hsl(0, 0%, 98%);
	--col-grey-95: hsl(0, 0%, 95%);
	--col-grey-90: hsl(0, 0%, 90%);
	--col-grey-85: hsl(0, 0%, 85%);
	--col-grey-70: hsl(0, 0%, 70%);
	--col-grey-50: hsl(0, 0%, 50%);
	--col-scale-green: hsl(153, 50%, 48%);
	--col-scale-green-darker: hsl(153, 50%, 40%);
	--col-scale-green-lighter: hsl(153, 50%, 70%);
	--col-scale-green-200: hsl(153, 50%, 80%);
	--col-scale-green-100: hsl(153, 50%, 90%);
	--col-scale-green-50: hsl(153, 50%, 95%);
	--col-scale-green-25: hsl(153, 50%, 97%);
	--col-confident-blue: hsl(219, 37%, 24%);
	--col-confident-blue-darker: hsl(218, 37%, 18%);
	--col-confident-blue-lighter: hsl(218, 37%, 34%);
	--col-confident-blue-200: hsl(218, 37%, 80%);
	--col-confident-blue-100: hsl(218, 37%, 90%);
	--col-confident-blue-50: hsl(218, 37%, 95%);
	--col-confident-blue-25: hsl(218, 37%, 98%);
	--col-trusting-blue: hsl(186, 71%, 57%);
	--col-trusting-blue-darker: hsl(186, 71%, 45%);
	--col-trusting-blue-lighter: hsl(186, 71%, 67%);
	--col-trusting-blue-200: hsl(186, 71%, 80%);
	--col-trusting-blue-100: hsl(186, 71%, 90%);
	--col-trusting-blue-50: hsl(186, 71%, 95%);
	--col-trusting-blue-25: hsl(186, 71%, 98%);
	--col-warning: hsl(29, 100%, 53%);
	--col-warning-darker: hsl(29, 100%, 43%);
	--col-warning-lighter: hsl(29, 100%, 63%);
	--col-warning-200: hsl(29, 100%, 80%);
	--col-warning-100: hsl(29, 100%, 90%);
	--col-warning-50: hsl(29, 100%, 95%);
	--col-danger: hsl(13, 100%, 53%);
	--col-danger-darker: hsl(13, 96%, 32%);
	--col-danger-lighter: hsl(13, 96%, 63%);
	--col-danger-200: hsl(13, 96%, 80%);
	--col-danger-100: hsl(13, 96%, 90%);
	--col-danger-50: hsl(13, 96%, 95%);
  
	--font-body: 'Work Sans', sans-serif;
	--font-title: 'Rubik', sans-serif;
	--work-letter-spacing: -.02em;
	--rubik-letter-spacing: 0em;
  
	--box-input-radius: .3em;
	--box-button-radius: .3em;
	--box-card-radius: .5em;
  
	--header-height: 4rem;
	/* --sidebar-width: 16rem; */
	--sidebar-width-icons: 4.2rem;
  
	--spacing-1: .25rem;
	--spacing-2: .5rem;
	--spacing-3: .75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.5rem;
	--spacing-6: 2rem;
  
	--transition: .3s ease-in-out;
	--soft-shadow: 4px 4px 10px rgba(17, 19, 21, 0.05);
	--soft-shadow-down: 0 4px 10px rgba(17, 19, 21, 0.05);
	--soft-shadow-right: 4px 0 10px rgba(17, 19, 21, 0.05);
	--modal-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, 
					rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
	--input-border: 1px solid var(--col-grey-95);
	--input-border-hover: var(--col-grey-85);
	--checkbox-border: 2px solid var(--col-grey-70);
	--checkbox-border-active: 2px solid var(--col-grey-70);
  
	--overlay-active: .75;
	--focus-outline: rgb(59, 153, 252) auto 5px;
	--focus-outline-offset: 0px;
}
.input-group-text {
	border: none;
}
.text-warning {
	color: var(--warning) !important;
}
.bg-warning,
.badge-warning {
	background-color: var(--warning) !important;
}
.border-warning {
	border-color: var(--warning) !important;
}
body {
	font-family: "Work Sans", sans-serif;
	background-color: var(--col-page-background);
	letter-spacing: -.01em;
}
body.focus-mode-active {
	--application-pages-height: calc(100vh - 170px);
}
body.no-scroll {
	overflow: hidden;
}
/* ICONS */
.sc-spriteicon { 
    --accent-color: var(--blue);
	--stroke-width: 2;
	--fill-color: currentColor;
	--stroke-opacity:1;
	--fill-opacity:0;
    width: 16px; 
    height: 16px;
    min-width: 16px;
    margin: .5em;
    top: -1px;
    line-height: 1;
    display: inline-block;
    position: relative;
    vertical-align: middle;
	transition: transform .2s ease-in-out;
}
.sc-icon-line {
	stroke-width: var(--stroke-width);
	fill: var(--fill-color);
	opacity: var(--stroke-opacity);
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	transition: stroke .2s linear;
}
.sc-icon-fill {
    stroke-width: var(--stroke-width);
	fill: var(--fill-color);
	opacity: var(--fill-opacity);
}
.sc-spriteicon.sc-spriteicon-solid { 
	--stroke-width: 0;
	--fill-color: currentColor;
	--stroke-opacity:0;
	--fill-opacity:1;
}
.sc-spriteicon-solid {
	stroke: none;
	fill: currentColor;
}
.sc-spriteicon-solid {
	stroke: none;
	fill: currentColor;
}
.sc-spriteicon-solid .sc-icon-line {
	display: none;
}
.sc-spriteicon-solid .sc-icon-fill.sc-icon-accent {
	fill: var(--accent-color);
}
.sc-icon-line.sc-icon-accent {
    stroke: var(--accent-color);
}
.sc-icon-fill.sc-icon-accent {
    fill: var(--accent-color);
}
.sc-spriteicon-accentfill { 
	fill: var(--accent-color);
}
.sc-spriteicon-monotone { 
    --accent-color: currentColor;
}
.sc-spriteicon-warning { 
    --accent-color: var(--warning);
}
.sc-spriteicon-danger { 
    --accent-color: var(--danger);
}
.sc-spriteicon-success { 
    --accent-color: var(--success);
}
.sc-spriteicon-pink { 
    --accent-color: var(--pink);
}
.sc-spriteicon-success .sc-icon-line.sc-icon-accent ,
.sc-spriteicon-warning .sc-icon-line.sc-icon-accent  {
	fill: var(--accent-color);
}
.sc-spriteicon-2x {
    width: 32px; 
    height: 32px;
}
.sc-spriteicon-15x {
    width: 24px; 
    height: 24px;
}
.sc-spriteicon-3x {
    width: 48px; 
    height: 48px;
}
.sc-spriteicon-4x {
    width: 64px; 
    height: 64px;
}
.sc-spriteicon-1 {
    --stroke-width: 1;
}
.sc-spriteicon-3 {
    --stroke-width: 3;
}
.sc-spriteicon-4 {
	--stroke-width: 4;
}
.btn .sc-spriteicon {
    margin: 0 auto;
}

/* /icons */
/* RESET BOOTSTRAP */
.card {
	border: none !important;
	border-radius: .5rem;
}
.col-form-label {
    line-height: 1.3;
}
.card-header:first-child {
    border-radius: .5rem .5rem 0 0;
}
.card-footer:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}
.card:not(.shadow-0),
.sc-shadow:not(.shadow-0) {
	box-shadow: rgba(0,0,0,0.05) 0px 15px 20px -5px, 
		rgba(0,0,0,0.05) 0px 8px 10px -6px !important;
}
.bg-success, .btn-success {
	color: #fff;
}
h1, h2, h3, h4, h5 {
	line-height: 1.1;
}
.rounded-bottom {
	border-bottom-right-radius: 0.5rem !important;
	border-bottom-left-radius: 0.5rem !important;
}
.rounded-top {
	border-top-right-radius: 0.5rem !important;
	border-top-left-radius: 0.5rem !important;
}
.sidebar-light {
	border-right: none;
}
.modal-content {
	border: none;
	border-radius: .5rem;
	box-shadow: 0 1px 6px rgba(0,0,0,0.08) !important;
}
.modal-backdrop {
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	transition: .5s all ease-in-out;
}
.modal-backdrop.show {
	opacity: 1;
	/* background-color: #273855; */
	background-color: rgba(26, 43, 68, 0.5);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
.table thead th {
	border-color: #eee;
}
.navbar-dark {
	background-color: #FFF;
}
.sidebar-dark {
	background-color: var(--slate);
}
.sidebar {
	background-color: var(--col-white);
}
.nav-sidebar .nav-link {
	color: var(--confident-blue);
	overflow: hidden;
}
.nav-sidebar .nav-link.active {
	background-color: var(--col-page-background);
	position: relative;
}
.nav-sidebar .nav-link i {
	color: var(--col-confident-blue);
}
.nav-sidebar .nav-link.active::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	border: .3em solid var(--col-trusting-blue);
}
.nav-sidebar .nav-link.active > i {
	color: var(--col-trusting-blue);
}
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active {
	background-color: rgba(0,0,0,0.4);
}
.sidebar-dark .nav-sidebar > .nav-item > .nav-link.active {
	background-color: var(--blue);
}
.btn-primary,
.btn-primary:hover {
	color: #fff;
}
.btn-shadow {
	transition: box-shadow .2s ease-in-out,
		transform .2s ease-in-out;
	/* box-shadow: 0 2px 1px rgba(0,0,0,0.1) !important; */
	box-shadow: rgba(0,0,0,0.08) 0px 10px 15px -2px, 
		rgba(0,0,0,0.08) 0px 4px 6px -3px !important;
}
.btn-shadow:hover {
	transform: translateY(-2px);
	/* box-shadow: 0 2px 1px rgba(0,0,0,0.1) !important; */
	box-shadow: rgba(0,0,0,0.05) 0px 10px 15px -2px, 
		rgba(0,0,0,0.05) 0px 12px 10px -6px !important;
}
.btn-outline-green {
	color: var(--green);
	background-color: transparent;
	background-image: none;
	border-color: var(--green);
}
.btn-outline-green:hover {
	color: #fff;
	background-color: var(--green);
	border-color: var(--green);
}
.btn-outline-green.disabled {
	color: var(--green);
	background-color: transparent;
}
.btn-outline-green:not([disabled]):not(.disabled):active,
.show > .btn-outline-green.dropdown-toggle {
	color: #fff;
	background-color: var(--green);
	border-color: var(--green);
}
.btn-green {
	color: #fff;
	background-color: var(--green);
}
.btn-green:hover {
	color: #fff;
	background-color: var(--green);
}
.sidebar-xs .sc-menu-hide {
	display: none;
}
body:not(.sidebar-xs) .sc-menu-show {
	display: none;
}
.sc-word-wrap {
	word-wrap: break-word !important;
}
.alert:not(.alert-styled-left):not(.alert-styled-right) {
	border: none;
}
.alert {
	box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	border-radius: .5rem !important;
}
.alert-styled-left {
	border-top: none;
	border-right: none;
	border-bottom: none;
}
.alert-styled-right {
	border-top: none;
	border-left: none;
	border-bottom: none;
}
.alert-link {
	text-decoration: underline;
}
.alert-secure {
	color: var(--green-dark);
	background-color: #e4f9ec;
	font-weight: 500;
	border-color: var(--green);
}
.alert-secure a {
	color: #225737;
	text-decoration: underline;
}
.alert-secure .alert-link {
	color: var(--green); 
}
.alert.alert-secure[class*="alert-styled-"]::after {
	content: '\ed6f';
}
.alert-warning {
    color: #C15100;
    background-color: #FF924322;
}
.badge-success {
    color: #fff;
}
.badge-primary {
    color: #fff;
}
.sidebar-xs .sidebar-main.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
	background-color: #273855;
}
.sc-pointer {
	cursor: pointer;
}
.sc-max-lines-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-height: 1.5385;
	max-height: 1.7em;
}
.sc-max-lines-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5385;
	max-height: 3.4em;
}
.sc-max-lines-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 1.5385;
	max-height: 5.1em;
}
.select2-results__option > .select2-results__group {
	font-weight: .8em;
	text-transform: uppercase;
}
.uniform-checker span,
.uniform-choice span {
	border-color: #cccccc;
	color: #273855;
}
.uniform-checker span.checked,
.uniform-choice span.checked {
	color: #273855;
}
.sc-categories .form-check .uniform-checker {
    top: 50%;
    transform: translateY(-50%);
}

/* toggle switch */
.sc-toggle-switch {
	position: relative;
}
.sc-toggle-switch input[type=checkbox] {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	cursor: pointer;
}
.sc-toggle-switch label,
.sc-verify-toggle {
    display: flex;
	align-items: center;
	padding: .5em 0;
	margin-bottom: 0;
	color: inherit;
	line-height: 1.3;
}
.sc-toggle-title {
    padding-right: 1em;
}
.sc-toggle-switch .sc-toggle-indicator,
.sc-verify-toggle .sc-toggle-indicator {
    width: 36px;
	min-width: 36px;
	height: 18px;
	background-color: silver;
	border-radius: 10px;
	margin-left: auto;
	margin-right: 2px;
	position: relative;
	cursor: pointer;
	transition: .1s ease-in-out;
}
.sc-toggle-switch .sc-toggle-indicator::before {
    content: "";
	position: absolute;
	left: 2px;
	top: 3px;
	bottom: 3px;
	margin: auto;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background-color: #fff;
	border: 1px solid silver;
	/* box-shadow: 0 1px 2px rgba(0, 0, 0, .1); */
	/* border: 1px solid silver; */
	transition: .1s ease-in-out;
}
.sc-toggle-switch label::after {
    content: "";
	width: 3em;
    display: inline-block;
    margin-left: .5em;
    font-size: .6rem;
	font-weight: 600;
    text-transform: uppercase;
}
.sc-toggle-switch input:checked + label::after,
.sc-document-group-verified .sc-verify-toggle::after,
.sc-document-row-verified .sc-verify-toggle::after {
    content: "";
	color: var(--blue);
}
.sc-toggle-switch input:checked + label .sc-toggle-indicator,
.sc-document-group-verified .sc-verify-toggle .sc-toggle-indicator,
.sc-document-row-verified .sc-verify-toggle .sc-toggle-indicator {
    background-color: var(--blue);
}
.sc-toggle-switch.sc-confirm-toggle input + label::after {
	color: var(--warning);
}
.sc-toggle-switch.sc-confirm-toggle input:checked + label::after {
	color: var(--success);
}
.sc-toggle-switch.sc-confirm-toggle input + label .sc-toggle-indicator {
    background-color: var(--warning);
}
.sc-toggle-switch.sc-confirm-toggle input + label .sc-toggle-indicator:before {
    border-color: var(--warning);
}
.sc-toggle-switch.sc-confirm-toggle input:checked + label .sc-toggle-indicator:before {
    border-color: var(--success);
}
.sc-toggle-switch.sc-confirm-toggle input:checked + label .sc-toggle-indicator {
    background-color: var(--success);
}
.sc-toggle-switch input:checked + label .sc-toggle-indicator::before,
.sc-document-group-verified .sc-verify-toggle .sc-toggle-indicator::before,
.sc-document-row-verified .sc-verify-toggle .sc-toggle-indicator::before {
    left: 18px;
	border-color: var(--blue);
}
.sc-toggle-switch input[disabled] {
	cursor: not-allowed;
}
.sc-toggle-switch input[disabled] + label {
    filter: grayscale();
	opacity: .5;
}
.form-control {
	/* padding-inline: 0.3rem !important; */
}
.custom-select.disabled,
.state-discount-rfq .custom-select.quote-tax,
.state-view-rfq .custom-select.quote-tax {
	/* background-image: none !important;
	padding-right: 0.8rem !important;
	pointer-events: none !important;
	border-color: #f6f6f6 !important;
	background-color: #fff !important; */
}
.sc-toggle-switch input.loading + label {
	filter: grayscale();
}
.sc-toggle-switch input.loading + label::after {
    content: "...";
}
.sc-toggle-switch input.loading + label .sc-toggle-indicator {
	background: none;
}
.sc-toggle-switch input.loading + label .sc-toggle-indicator::before {
	left: 6px;
	border: none;
	box-shadow: inset 0 1px 0 var(--blue);
	animation: loading-toggle 2s infinite linear ;
}
@keyframes loading-toggle {
from {
	transform: rotate(0deg) scale(1.2);
}
to {
	transform: rotate(359deg) scale(1.2);
}
}
/* / toggle switch */
.uniform-choice span.checked::after {
	border-color: #273855;
}
.breadcrumb {
	padding-top: .5rem;
}
.breadcrumb-item {
	padding: 0.2rem 0;
}
/* focus UI */
.sc-toggle-switch input:focus + label,
input[type="checkbox"]:focus + .sc-application-checklist-item,
.btn:focus,
a:focus {
	outline: 2px dotted #0003;
}
/* draggable */
.sc-move-tile {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.sc-file-review {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.gu-transit {
	opacity: .5;
	color: #0001;
	background-color: #0001 !important;
}
.gu-transit::before {
	opacity: 0;
}
.gu-transit > * {
	opacity: 0;
}
/*  /draggable */
.select2-selection--single:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.select2-selection--single:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.form-control:not(textarea) {
	border-color: #f6f6f6;
	background-color: #f6f6f6;
}
.form-control:read-only:active,
.form-control:read-only,
.state-view-rfq .form-control.quote-price,
.state-discount-rfq .form-control.quote-price {
	border-color: #f6f6f6 !important;
	background-color: #fff !important;
}
.state-view-rfq .form-control.quote-price,
.state-discount-rfq .form-control.quote-price {
	pointer-events: none;
}
.validation-invalid-label, .validation-valid-label {
    font-size: .8rem;
    line-height: 1;
}
.validation-invalid-label::before, .validation-valid-label::before {
	font-size: .8rem;
}
.sc-document-folder {
	background: #f4f4f4;
	flex-basis: 100%;
}
.sc-folder-open {
	display: none;
}
.sc-folder-closed {
	display: block;
}
[aria-expanded=true] > .sc-folder-open {
	display: block;
}
[aria-expanded=true] > .sc-folder-closed {
	display: none;
}
[aria-expanded=true] > div > div > .icon-arrow-down22,
	[aria-expanded=true] > .icon-arrow-down22 {
	transform: rotate(180deg);
}
.sc-checklist-view {
	position: relative;
	min-height: 80vh;
}
.sc-checklist-view .sc-document-area {
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0.75em;
	left: 0.75em;
}
.sc-tender-preview {
	position: relative;
	min-height: 60vh;
}
.sc-checklist-view .sc-tender-preview {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.sc-tender-preview .pdfobject {
	position: absolute;
}
.jGrowl-closer {
	background: #273855;
	color: #fff;
	border: none;
}
.sc-progress {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
}
.sc-progress .progress {
	height: 5px;
	background-color: #fff;
}
.sc-progress .progress-bar {
	animation: progress-reveal 1.6s ease-out forwards;
	transform-origin: 0%;
	animation-delay: var(--progress-delay);
	transition: .6s all ease-out;
}
.sc-progress-label {
	position: absolute;
	text-align: right !important;
	bottom: 100%;
	text-align: center;
	bottom: 8px;
	transform: translate(0,10%);
	z-index: 1;
	transform: translate(-100%,10%);
	animation: progress-number-reveal 1.5s forwards;
	transition: .6s all ease-out;
	animation-delay: var(--progress-delay);
	color: #fff;
}
.sc-progress-label::before {
	content: "";
	position: absolute;
	border: 3px solid transparent;
	border-right-color: var(--slate);
	border-top-color: var(--slate);
	right: 0;
	bottom: -5px;
}
.sc-progress-label .d-none.d-sm-inline {
	margin-left: .5em;
}
.sc-progress-label .progress-status {
	background-color: var(--green);
}
.sc-progress-label[class*="-warning"] .progress-status {
	background-color: var(--warning);
}
.sc-progress-label[class*="-danger"] .progress-status {
	background-color: var(--danger);
}
.sc-slider-complete {
	position: absolute;
	bottom: 100%;
	right: 0;
	opacity: 0;
	visibility: 0;
	transform: scale(0);
	text-align: center;
	background-color: #fff;
	color: rgb(51,51,51);
	margin-bottom: 1em;
	border-radius: 1em;
	padding: 1em 2em;
	transform-origin: 100% 100%;
	box-shadow: 0 0 2px #0003;
}
.sc-progress-label.success .sc-slider-complete {
	visibility: visible;
	animation: fadein 1s forwards;
	animation-delay: 3s;
}
.sc-progress-label.success.close-success .sc-slider-complete {
	animation: fadeout 1s forwards;
	animation-delay: 0s;
}
.sc-progress-label.success .sc-slider-complete .sc-spriteicon {
	animation: hifive 5s infinite;
	animation-delay: 3s;
}
@keyframes hifive {
	0% {
		transform: scale(1) translateY(10px);
	}
	40% {
		transform: scale(1) translateY(10px);
	}
	45% {
		transform: scale(1) translateY(-10px);
	}
	50% {
		transform: scale(1.2) translateY(-10px);
	}
	55% {
		transform: scale(1) translateY(-10px);
	}
	60% {
		transform: scale(1) translateY(10px);
	}
	100% {
		transform: scale(1) translateY(10px);
	}
}
@keyframes fadeinout {
	0% {
		transform: scale(0);
		visibility: hidden;
		transform: scale(1) translateY(-20px);
	}
	1% {
		transform: scale(1) translateY(0);
		opacity: 0;
		visibility: visible;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	99% {
		transform: scale(1) translateY(0);
		opacity: 0;
		visibility: visible;
	}
	100% {
		transform: scale(1) translateY(-20px);
		visibility: hidden;
	}
}
@keyframes fadein {
	0% {
		transform: scale(0);
		visibility: hidden;
		transform: scale(1) translateY(-20px);
	}
	1% {
		transform: scale(1) translateY(0);
		opacity: 0;
		visibility: visible;
	}
	100% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}
@keyframes fadeout {
	0% {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
	1% {
		transform: scale(1) translateY(0);
		opacity: 0;
		visibility: visible;
	}
	100% {
		transform: scale(0);
		visibility: hidden;
		transform: scale(1) translateY(-20px);
	}
}
.card-footer .sc-progress {
	bottom: 100%;
}
.card-header .sc-progress {
	top: 100%;
}
.sc-tender-calendar-header {
	color: var(--blue);
}
#checklist-part-1b {
	transition: margin .3s ease-in-out;
}
.sc-flash {
	animation: flash .5s forwards;
}
.sc-beta-badge {
	position: absolute;
	font-size: 8px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: -.5em;
	border-radius: .2em;
	display: none;
}
.sc-spin-back {
	animation-name: spin;
	animation-duration: 6000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}
.sc-spin-forward {
	animation: spin 8000ms infinite linear;
}
.application-notes {
	min-height: 60vh;
}
@keyframes flash {
	0%   { color: inherit; }
	10%   { color: #42CFDF; }
	100%   { color: inherit; }
}
@keyframes progress-number-reveal {
	0%   { transform: translate(-100%,10%); }
	100% { transform: translate(0,10%); }
}
@keyframes progress-reveal {
	0%   { transform: scaleX(0); }
	100%   { transform: scaleX(1); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.sc-icons-svg {
	display: inline-block;
	vertical-align: text-bottom;
	width: 1.3em;
	height: auto;
	margin: 0;
}
.fe-social-icons {
	display: inline-block;
	width: 4em;
	vertical-align: middle;
	margin: .5em;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
.fe-social-icons img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	transition: .5s filter ease-in-out;
}
.fe-social-icons:hover img {
	transform: scale(1.1);
}
.faq-maxwidth {
	max-width: 800px;
}
.faq-questions [aria-expanded=true] h5 {
	color: #42CFDF;
}
.removebookmarkwidget i::after {
	content: "-";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid var(--warning);
    line-height: 3px;
    background-color: #fff;
    left: 9px;
	top: 2px;
	transition: .5s filter ease-in-out;
}
.removebookmarkwidget i {
	color: var(--warning);
}
.sc-slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	border-radius: 5px;
	opacity: 0.7;
	transition: opacity .2s;
	position: relative;
	z-index: 1;
}
.sc-slider:hover {
	opacity: 1;
}
.sc-slider::-webkit-slider-thumb,
.sc-slider::-moz-range-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 5px;
	background: #42CFDF;
	border: none;
	cursor: pointer;
}
.sc-feedback-rating-radio input[type=radio] {
	visibility: hidden;
}
.sc-feedback-rating-radio img {
	width: 32px;
	height: auto;
	cursor: pointer;
	margin: .5em;
}
.sc-feedback-rating-radio input:not(:checked) ~ img {
	opacity: .5;
	filter: url(filters.svg#grayscale);/* Firefox 3.5+ */
	filter: gray;/* IE6-9 */
	-webkit-filter: grayscale(1);/* Google Chrome & Safari 6+ */
}
.sc-survey-steps {
	position: absolute;
	height: 5px;
	left: 16px;
	right: 16px;
	border-right: 1px solid #ddd;
	display:flex;
	align-items: flex-end;
}
.sc-survey-steps span {
	display: block;
	height: 100%;
	border-left: 1px solid #eee;
	flex-basis: 100%;
}
.sc-survey-steps span:nth-child(even) {
	border-color: #ddd;
	height: 150%;
}
.sc-business-tile {
	position: relative;
}
.sc-company-logo {
	display: block;
	width: 100%;
	height: 100px;
	object-fit: contain;
}
.sc-company-logo.sc-logo-square {
	width: 100px;
	display: inline-block;
}
.badge.sc-active-badge {
	position: absolute !important;
	top: 5px;
	left: 5px;
}
.sc-hidden-radio {
	/* visibility: hidden;	 */
	opacity: 0;
	width: 0;
	height: 0;
	line-height: 0;
}
.sc-hidden-radio + label {
	cursor: pointer;
	position: relative;
}
.sc-hidden-radio:focus + label {
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.sc-hidden-radio:checked + label {
	border-color: #42CFDF !important;
}
.sc-hidden-radio + label:before {
	content: "";
	color: #fff;
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #ddd;
	left: -12px;
	top: 10px;
	border-radius: 50%;

	font-family: 'icomoon' !important;
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	min-width: 1em;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sc-hidden-radio:checked + label:before {
	content: "\e372";
	border: 1px solid #42CFDF;
	background-color: #42CFDF;
}
.sc-selected-plan {
	border-top: 1px solid;
}
.sc-completeness-indicator {
	border: 1px solid #3EB881;
	display: flex;
	padding: 2px;
	border-radius: 8px;
}
.sc-completeness-indicator.sc-readiness {
	border: 1px solid #42CFDF;
}
.sc-completeness-indicator div {
	height: 6px;
	/* background-color: #fff; */
	width: 33%;
	margin-left: 2px;
	position: relative;
	overflow: hidden;
}
.sc-completeness-indicator div:before,
.sc-completeness-indicator div:after {
	content: "";
	position: absolute;
	display: block;
	width: calc(50% - 1px);
	top: 0;
	left: 0;
	background-color: #fff;
	height: 100%;
	opacity: .15;
}
.sc-completeness-indicator div:after {
	left: auto;
	right: 0;
}
.sc-completeness-indicator div:first-child {
	margin-left: 0;
	border-radius: 3px 0 0 3px;
}
.sc-completeness-indicator div:last-child {
	border-radius: 0 3px 3px 0;
}
.sc-completeness-indicator div.active-bar:before,
.sc-completeness-indicator div.active-bar:after {
	opacity: 1;
	background-color: #3EB881;
}
.sc-completeness-indicator.sc-readiness div:before,
.sc-completeness-indicator.sc-readiness div:after {
	background-color: #999;
}
.sc-completeness-indicator.sc-readiness div.active-bar:before,
.sc-completeness-indicator.sc-readiness div.active-bar:after {
	opacity: 1;
	background-color: #42CFDF;
}
#sc-readiness-steps a {
	display: inline-block;
}
#sc-onboarding-steps a,
#sc-readiness-steps a {
	transition: .3s all ease-in-out;
	transform: translateX(2px);
}
#sc-onboarding-steps a:not(:hover),
#sc-readiness-steps a:not(:hover) {
	color: inherit;
	transform: translateX(0);
}
.sc-stat-linked-card {
	transition: .3s all ease-in-out;
}
.sc-stat-linked-card:not(:hover) {
	color: inherit;
}
.sc-stat-linked-card:hover {
	box-shadow: 0 5px 25px rgba(0,0,0,0.08) !important;
	transform: translateY(-3px);
}
.sc-toggle-sidebar {
    position: fixed;
    left: 255px;
    top: 10px;
    z-index: 1031;
    padding: 0.3em;
    width: 30px;
    height: 30px;
	transition: top var(--focusmode-transition);
}
.sidebar-xs .sc-toggle-sidebar {
    left: 40px;
}
#modal_tips .carousel-indicators {
    position: static;
    /* right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0; */
    margin-right: 0px;
    margin-left: 0px;
    list-style: none;
}
#modal_tips .carousel-indicators li {
    /* position: relative; */
    /* -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; */
    width: auto;
    height: auto;
    margin: 0px;
    text-indent: 0px;
    /* cursor: pointer; */
    background-color: transparent;
	max-width: 0em;
	overflow: hidden;
}
#modal_tips .carousel-indicators .active {
    background-color: transparent;
	max-width: 2em;
}
#modal_tips .carousel-indicators li.get-started-total-tips {
	max-width: initial;
	margin-left: .5em;
}
.sidebar-xs .nav-sidebar .sc-quick-tour {
	display: none !important;
}
.sc-alert-item:not(.sc-alert-unread) .sc-alert-icon {
	filter: grayscale(100%);
}
.sc-alert-item .media-body a {
	color: inherit;
}
.sc-alert-item.sc-alert-unread .media-body a {
	font-weight: 500;
	color: #273855;
}
.sc-alert-item.sc-alert-unread .sc-mark-unread {
	display: none;
}
.sc-alert-item:not(.sc-alert-unread) .sc-mark-read {
	display: none;
}
.dropdown-scrollable-alerts {
    max-height: 80vh;
    overflow-y: auto;
}
/* APPLICATION PROCESS */
.application-pages .navbar.navbar-expand.navbar-light {
	/* padding-bottom: 4.5rem; */
	display: none;
}
.application-pages .page-title {
	padding: 1em 0;
}
.sc-application-drawer {
	position: fixed;
	z-index: 9;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	/* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);  */
	padding: .3em;
	box-shadow: 0 -2px 3px rgba(0, 0, 0, .05);
}
.sc-application-step {
	line-height: 1.2;
	padding: .5em;
}
.sc-application-step .rounded-circle {
	width: 32px;
	height: 32px;
}
.btn-dock-nav {
	background-color: transparent;
	font-size: .8em;
	color: var(--slate);
}
.btn-dock-nav.sc-active {
	outline: 1px solid #ddd;
}
.sc-documents-verification .sc-progress {
    left: 10px;
    right: 10px;
	--progress-delay: .5s;
}
.sc-documents-verification .progress {
	background: transparent;
	box-shadow: none;
	height: 2px;
}
.sc-documents-verification .progress-issues {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	border-radius: 1px;
	margin: auto 0;
	background-color: #ddd;
	z-index: 0;
}
.sc-documents-verification .progress-issues .progress-warnings {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: var(--danger);
	transform: scaleX(0);
	animation: progress-reveal 1.6s ease-out forwards;
	transform-origin: 0%;
	animation-delay: var(--progress-delay);
	transition: .6s all ease-out;
}
.sc-document-preview-pane {
	position: fixed;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 100px;
	z-index: 3;
	background-color: #fff;
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	transition: .2s ease-out;
	padding-bottom: 100px;
	transform: translateX(-110%);
	opacity: 0;

	align-items: center;
	justify-content: center;
	color: #42CFDF;
}
.show-pdf-overlay  .sc-document-preview-pane {
	transform: translateX(0%);
	opacity: 1;
}

/* checklist */
.sc-application-item {
	display: flex;
	align-items: stretch;
	padding: .4em;
	background-color: #fff;
	margin-bottom: .3em;
}
.sc-application-item.sc-item-placeholder {
	margin-bottom: .3em;
}
.sc-application-item:before ,
.sc-application-checklist-item:before{
	content: "";
	border-left: 4px solid #ddd;
	margin-right: .5em;
	border-radius: 2px;
	transition: border .2s ease-in-out;
}
.sc-application-item-title {
	margin: auto 0;
	padding: .3em;
	line-height: 1.2;
	flex-grow: 1
	;
}
.sc-application-item-right {
	margin: auto 0 auto auto;
}
.sc-organize-item:before {
	border-color: #42CFDF;
}
.sc-organize-item {
	/* cursor: pointer; */
	transition: .5s ease-in-out;
}
.sc-organize-item:hover {
	/* transform: translateX(2px); */
}
.sc-application-checklist-item {
	display: flex;
	align-items: stretch;
	padding: .4em;
	background-color: #f5f5f7;
	margin-bottom: 2px;
}
.sc-checklist-input {
	display: block;
	margin-bottom: 0;
	position: relative;
}
.sc-checklist-input > input[type="checkbox"] {
	cursor: pointer;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
}
.sc-item-checkmark {
	width: 1.4em;
	height: 1.4em;
	border-radius: 3px;
	color: var(--slate);
	padding: .1em;
	border: 2px solid #1A2B4466;
	transition: all .2s ease-in-out;
}
.sc-item-checkmark::before {
	opacity: 0;
}
.sc-checklist-input:hover .sc-item-checkmark::before {
	opacity: .3;
}
.sc-checklist-input > input[type="checkbox"]:checked + .sc-application-checklist-item {
	font-weight: 500;
	background-color: #fff;
	/* background-color: #f1f8f9; */
}
.sc-checklist-input > input[type="checkbox"]:checked + .sc-application-checklist-item:before {
	border-left-color: var(--blue);
}
.sc-checklist-input > input[type="checkbox"]:checked + .sc-application-checklist-item .sc-item-checkmark {
	background-color: #fff;
}
.sc-checklist-input > input[type="checkbox"]:focus + .sc-application-checklist-item .sc-item-checkmark::before {
	opacity: .3;
}
.sc-checklist-input > input[type="checkbox"]:checked + .sc-application-checklist-item .sc-item-checkmark::before {
	opacity: 1;
}
.sc-accessible-move {
	display: none;
}
/* document verification */
.sc-document-row {
	color: inherit;
	border-top-left-radius: 8px !important;
}
.sc-document-row:before {
	border-left-width: 6px;
	height: 6px;
	border-radius: 3px;
	margin-bottom: auto;
}
.sc-document-row-empty .sc-document-added,
.sc-document-row-empty .sc-document-verified {
	display: none;
}
.sc-document-row-added .sc-document-empty,
.sc-document-row-added .sc-document-verified {
	display: none;
}
.sc-document-group-verified .sc-group-unverified,
.sc-document-group-unverified .sc-group-verified {
	display: none;
}
.sc-application-item-group:not(.show) .sc-folder-icon-open,
.sc-application-item-group.show .sc-folder-icon-closed {
	display: none;
}
.sc-document-group-verified .sc-group-basic,
.sc-document-group-unverified .sc-group-basic {
	display: none;
}
.sc-document-row-added:before {
	border-color: var(--danger);
}
.sc-document-row-verified .sc-document-empty,
.sc-document-row-verified .sc-document-added {
	display: none;
}
.sc-document-row-verified:before,
.sc-document-group-verified > .sc-application-item::before  {
	border-color: #8BC34A;
}
/* group included or excluded */
.sc-application-item-group-list.sc-document-excluded .sc-application-item::before {
	opacity: 0;
}
.sc-document-group-unverified > .sc-application-item::before {
	border-color: var(--danger);
}
.sc-application-item.sc-document-row-included::before {
	opacity: 1;
	border-color: var(--blue);
}
.sc-application-item-group-list .sc-document-row-empty .sc-document-included,
.sc-application-item-group-list .sc-document-row-empty .sc-document-excluded,
.sc-application-item-group-list .sc-document-row-included .sc-document-empty,
.sc-application-item-group-list .sc-document-row-included .sc-document-excluded,
.sc-application-item-group-list .sc-document-row-excluded .sc-document-included,
.sc-application-item-group-list .sc-document-row-excluded .sc-document-empty {
	display: none !important;
}
/* .sc-document-row-added, */
.sc-document-row-verified,
.sc-document-group-verified > button {
	animation: updated-row 1s linear forwards;
}
@keyframes updated-row {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.02);
	}
	55% {
		transform: scale(1);
	}
}
.sc-application-list-panel {
	position: relative;
	height: var(--application-pages-height);
	overflow: hidden;
}
.sc-rfq-quotes-panel {
	position: relative;
	width: 100%;
}
.sc-rfq-quotes-panel-content {
	max-height: var(--application-pages-height);
	overflow-y: auto;
	transition: max-height var(--focusmode-transition);
	padding-top: 1em;
	padding-bottom: 2em;
}
.sc-rfq-quotes-panel::after {
	content: "";
	position: absolute;
	background-image: linear-gradient( #fff0, #fff);
	left: 0;
	right: 0;
	bottom: 0;
	height: 2em;
	z-index: 1;
}
.sc-checklist-add-popup {
	position: absolute;
	background-color: #f5f5f7ee;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease-in-out;
}
.sc-checklist-add-popup.show {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}
.sc-checklist-add-popup-wrapper {
	overflow: auto;
	padding-right: 1rem;
	padding-left: 0.625rem;
	padding-top: .5em;
}
.sc-checklist-add-popup-wrapper:after {
	content: "";
	display: block;
	margin: 30px auto;
	max-width: 200px;
	height: 1px;
	background-color: #ccc;
	text-align: center;
}
.sc-checklist-add-popup-footer {
	position: relative;
}
.sc-checklist-add-popup-footer:after {
	content: "";
	display: block;
	left: 0;
	right: 0;
	top: -31px;
	height: 30px;
	background-image: linear-gradient(#f5f5f700, #f5f5f7ff); 
	position: absolute;
}
.save-ui {
	display: flex;
	align-items: center;
	line-height: 1;
	/* font-size: .8em; */
}
.touch-moved {
	outline: 1px solid #42CFDF66;
	outline-offset: 1px;
}
.countdown-timer {
	min-width: 7em;
	min-height: 1em;
	transition: background-color .3s ease-in-out;
	vertical-align: middle;
	display: inline-block;
}
.countdown-timer.badge-warning,
.countdown-timer.badge-success {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.countdown-timer:not([class*=badge-]) {
	background-color: silver;
    background-image: linear-gradient(110deg, #fff5 8%, #fff9 18%, #fff5 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}
@keyframes shine {
	to {
	  background-position-x: -200%;
	}
  }

#notepad-drawer {
	position: fixed;
	bottom: 30px;
	right: 1em;
	width: calc(100vw - 2em);
	background-color: #fff;
	max-width: 500px;
	z-index: 8;
	
	padding-bottom: 0;
	max-height: 0;
	transition: all .2s ease-in-out;
}
.show-notepad #notepad-drawer {
	padding-bottom: 3em;
	max-height: 100vh;
}
.focus-mode-active #notepad-drawer {
	bottom: -1em;
}
.sc-todo-item {
	display: flex;
	align-items: center;
	padding: .4em;
	margin-bottom: 2px;
}
.sc-todo-row {
	display: block;
	margin-bottom: 0;
	position: relative;
}
.sc-todo-row > input[type="checkbox"] {
	cursor: pointer;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
}
.sc-todo-row .sc-item-checkmark {
	/* border-color: var(--blue); */
	flex-shrink: 0;
}
.sc-todo-row:hover .sc-item-checkmark {
	color: #ccc;
}
.sc-todo-row > input[type="checkbox"]:checked + .sc-todo-item {
	opacity: .5;
}
.sc-todo-row > input[type="checkbox"]:checked + .sc-todo-item .sc-todo-title {
	text-decoration: line-through;
}
.sc-todo-row > input[type="checkbox"]:checked + .sc-todo-item .sc-item-checkmark {
	color: #1A2B44;
	background-color: #fff;
	filter: grayscale(100%);
}
.sc-todo-row > input[type="checkbox"]:checked + .sc-todo-item .sc-item-checkmark::before {
	opacity: 1;
}
.sc-todo-group {
	max-height: calc(100vh - 350px);
	overflow-y: auto;
}
.sc-todo-notes {
	list-style: none;
	margin-top: .5em;
	padding-left: 0;
}
.individual-doc-info-panel {
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	transition: opacity .3s linear;
}
.individual-doc-info-panel.show {
	max-height: unset;
	opacity: 1;
	visibility: visible;
}
.sc-active-doc,
.sc-active-doc:focus,
.sc-active-doc:hover{
	box-shadow: 0 2px 0 #27385533 !important;
}
.sc-active-doc .sc-application-item-title {
	color: var(--blue);
}
.sc-active-doc .sc-application-item-right {
	background-color: var(--blue);
}
.sc-active-doc .sc-application-item-right .sc-spriteicon {
	color: #fff;
	/* color: var(--blue); */
}
.sc-group-active .sc-application-item-right .sc-spriteicon {
	transform: rotate(90deg);
	color: var(--blue);
}
.sc-application-item-group-list {
	max-height: 0;
	overflow: hidden;
	transition: max-height .2s ease-in-out;
}
.sc-application-item-group.show .sc-application-item-group-list {
	max-height: 100vh;
	overflow: visible;
}
.sc-empty-state-image {
	max-height: 150px;
	width: auto;
	display: block;
	margin: 1em auto;
	/* filter: grayscale(); */
}
.testing {
	outline: 2px solid fuchsia;
}
.sc-application-item + .sc-section-empty-state,
.sc-organize-item + .sc-section-empty-state,
.sc-section-empty-state.hide {
	display: none !important;
}
.sc-modal-icon {
	width: 100px;
	height: 100px;
	margin: 1em auto;
	display: flex;
	align-items: center;
	justify-items: center;
	background-color: #fafafa;
	border-radius: 50%;
}
.sc-item-placeholder {
	max-height: 0;
	height: 42px;
	overflow: hidden;
	transition: all .2s ease-in-out;
}
.sc-item-placeholder:not(.show) {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.sc-item-placeholder.show {
	max-height: 50px;
	border-top: none !important;
}
.export-options {
	max-height: 300px;
	overflow: hidden;
	transition: all .6s ease-in-out;
}
.export-options.hide {
	max-height: 0;
	border-color: transparent !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
.toggle-export-options i {
	transition: transform .6s ease-in-out;
}
.toggle-export-options.active i {
	transform: rotate(90deg);
}
.toggle-export-options.active {
	color: #999 !important;
}
.sc-quote-row {
	border-bottom: 1px solid #ddd;
	padding-block: .8em;
}
.sc-quote-title {
	display: none;
	border-bottom: 1px solid #ddd;
}
.sc-quote-row [class*=sc-column] {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	padding-block: .2em;
}
.sc-quote-row .form-group {
	margin-bottom: 0;
}
.quote-totals {
	text-align: right;
	font-size: 1.4em;
	border-radius: 0;
	border: none;
	width: 20ch;
	max-width: ;
	display: inline-block;
	border-bottom: 2px solid #ccc;
	padding-block: .1em;
}
#tender-info .close-tender-info {
	position: absolute;
	top: 60px;
	left: -2px;
}
body.state-view-rfq .rfq-supplier-docs {
	filter: grayscale(1);
	pointer-events: none;
}
body.state-view-rfq .sc-application-item:before {
	border-color: var(--blue) !important;
}
body.state-view-rfq  .rfq-supplier-docs .sc-application-item .sc-status-issues,
body.state-view-rfq  .rfq-supplier-docs .sc-application-item .sc-application-item-right,
body.state-discount-rfq  .rfq-supplier-docs .sc-application-item .sc-status-issues,
body.state-discount-rfq  .rfq-supplier-docs .sc-application-item .sc-application-item-right {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
}
body.state-view-rfq  .rfq-supplier-docs .sc-application-item svg,
body.state-view-rfq  .rfq-supplier-docs .sc-application-item-group svg {
	opacity: 0;
	margin-left: -12px !important;
}
body.state-view-rfq  .sc-quote-row .row-error,
body.state-view-rfq  .sc-progress-label {
	display: none;
}
.application-payment {
	max-height: 150px;
	transition: max-height .2s ease-in-out;
}
body.state-view-rfq .sc-page-controls,
body.state-paid-rfq .sc-interest-payment {
	display: none !important;
}
body.state-view-rfq .progress-warnings {
	width: 0 !important;
}
.sc-rfq-summary-container {
	max-width: 700px;
	margin-inline: auto;
}
.action-interested,
.action-not-interested {
	display: inline-flex;
	gap: .5em;
	align-items: center;
	justify-content: center;
	width: 160px;
}
.action-not-interested:not(:hover) [class*=cross],
.action-not-interested:hover [class*=checkmark] {
	display: none;
}
body.state-interested .action-interested,
body:not(.state-interested) .action-not-interested {
	display: none;
}
.action-not-interested span {
	max-width: 50px;
	transition: max-width .2s ease-in-out;
}
.rfq-paid {
	opacity: .6;
}
body:not(.state-paid-rfq) .rfq-paid,
body.state-paid-rfq .action-pay-rfq {
	display: none;
}
body:not(.state-paid-rfq) .action-not-interested:not(:hover) span {
	display: inline-block;
	max-width: 0;
	overflow: hidden;
	box-sizing: border-box;
}
.action-not-interested:not(:hover) span,
body.state-paid-rfq .action-not-interested span {
	display: inline-block;
	max-width: 0;
	overflow: hidden;
	box-sizing: border-box;
}
.action-pay-rfq {
	transition: all .2s ease-in-out;
}
body:not(.state-interested) .action-pay-rfq,
body.state-discount-rfq .action-pay-rfq,
body.state-discount-rfq .sc-interest-payment [class*=-interested] {
	filter: grayscale(1);
	opacity: .4;
	pointer-events: none;
}
body:not(.state-view-rfq) .sc-rfq-quotes-panel input[type=text]:not([disabled]),
body:not(.state-view-rfq) .sc-rfq-quotes-panel select:not(.disabled) {
	border-color: var(--col-scale-green);
}
body:not(.state-discount-rfq) .sc-column-discount,
body:not(.state-discount-rfq) .negotiation-badge {
	display: none !important;
}
.sc-rfq-quotes-panel-content .custom-select {
	/* padding-left: .2em; */
}
.quote-discount-type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}
.quote-discount-value {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	4.9% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 0;
	}
	5% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid var(--col-grey-90);
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
.pay-retry.load {
	position: relative;
	overflow: hidden;
	isolation: isolate;
}
.pay-retry.load::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #eee;
	z-index: -1;
	width: 0%;
	animation: pay-load 60s linear forwards;
}
@keyframes pay-load {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
.payment-steps {
	height: 400px;
	overflow: hidden;
}
.payment-steps > div {
	opacity: 0;
	max-height: 0;
	position: absolute;
	visibility: hidden;
	transition: opacity .2s ease-in-out;
	overflow: hidden;
	pointer-events: none;
}
.payment-steps.current-step-start .step-pay-start,
.payment-steps.current-step-waiting .step-pay-waiting,
.payment-steps.current-step-success .step-pay-success,
.payment-steps.current-step-error .step-pay-error {
	opacity: 1;
	max-height: unset;
	position: static;
	visibility: visible;
	transform: translateX(0);
	pointer-events: all;
}
@media (max-width: 768px) {
	.sc-tender-row a.sc-max-lines-2 {
		color: inherit !important;
	}
}
@media (max-width: 991px) {
	
	.sc-show-progress .progress-menu-close {
		display: none;
	}
	.show-app-progress .sc-show-progress .progress-menu-close {
		display: block;
	}
	.show-app-progress .sc-show-progress .progress-menu-show {
		display: none;
	}
	.sc-application-steps {
		max-height: 0;
		overflow: hidden;
		box-sizing: border-box;
		transition: max-height .3s ease-out;
	}
	.show-app-progress .sc-application-steps {
		max-height: 150px;
	}
	.sc-checklist-add-popup {
		position: fixed;
		top: 50px;
		right: 0;
		left: 0;
		bottom: 0;
		padding-right: 1rem;
		padding-left: 1rem;
		margin-left: 1rem;
		box-shadow: -15px 0 10px rgba(0,0,0,0.1);
	}
	.sc-checklist-add-popup-footer {
		padding-bottom: 85px !important;
	}
	.application-pages .content-wrapper {
		padding-bottom: 4.5rem;
	}
	.show-review-document-panel,
	.show-upload-document-panel {
		overflow: hidden;
		/* --sidebar-width: 0; */
	}
	.sc-review-document-panel,
	.sc-upload-document-panel {
		position: fixed;
		top: 50px;
		bottom: 0;
		right: -100%;
		left: 100%;
		padding: 0 1em 4.5rem;
		transition: .3s ease-in-out;
		overflow-y: auto;
		margin-left: 1rem;
		box-shadow: -15px 0 10px rgba(0,0,0,0.1);
	}
	.sc-upload-document-panel {
		min-height: var(--application-pages-height);
		/* bottom: 4em; */
	}
	.show-review-document-panel .sc-review-document-panel,
	.show-upload-document-panel .sc-upload-document-panel.show {
		right: 0;
		left: var(--sidebar-width);
	}
	.sc-review-document-panel  .sc-document-preview-pane,
	.sc-upload-document-panel  .sc-document-upload-pane {
		position: relative;
		transform: translateX(0%);
		opacity: 1;
		top: 5px;
		left: 0;
		height: 80vh;
	}
	#tender-info .sc-document-preview-pane {
		transform: translateX(0%);
		opacity: 1;
		position: relative;
		padding-bottom: 0;
		top: 0;
	}
	#tender-info .sc-document-preview-pane {
		height: calc( 100vh - 140px);
	}
}
@media (min-width: 768px) {
	:root {
		--sidebar-width: 270px;
	}
	.sidebar-xs {
		--sidebar-width: 3.5rem;
	}
	.sidebar-xs .sc-menu-offer-header,
	.sidebar-xs .sc-menu-offer-body {
		display: none;
	}
	.card .sc-tender-rows:hover .sc-tender-row:not(:hover) {
		/* background: #f7f7f7; */
		opacity: .8;
	}
	.sc-tender-row:hover {
		background: #fafafa;
		box-shadow: 1.5em 0 #fafafa, -1.5em 0 #fafafa;
		/* opacity: .8; */
	}
	.sc-tender-preview {
		position: relative;
		height: var(--application-pages-height);
	}
	.sc-tender-row:not(:hover) a,
	.sc-tender-row:not(:hover) .icon {
		color: inherit !important;
	}
	.sc-tender-row:not(:hover) .bg-green {
		background-color: rgba(0, 0, 0, .05) !important;
	}
	.sc-tender-row:not(:hover) .removebookmarkwidget i::after {
		border-color: inherit !important;
	}
	.sc-tender-row:not(:hover) .removebookmarkwidget i {
		color: inherit !important;
	}
	.sc-selected-plan {
		border-top: none;
		border-left: 1px solid;
	}
	/* APPLICATION PROCESS */
	.sc-application-drawer,
	.sc-document-preview-pane,
	.sc-checklist-add-popup {
		left: var(--sidebar-width);
	}
	.sc-upload-document-panel .sc-document-preview-pane {
		left: 0;
	}
	.tender-info-row {
		display: grid;
		grid-template-columns: 200px auto;
		align-items: top;
	}
	.sc-quote-title {
		padding-inline: 1em;
		margin-inline: 1em;
		padding-block: 0;
	}
}
@media (min-width: 992px) {
	/* APPLICATION PROCESS */
	.sc-checklist-add-popup {
		top: 0;
		left: 0;
	}
	/* FOCUS MODE */
	body:not(.focus-mode-active) .sc-focus-off {
		display: none;
	}
	body.focus-mode-active .sc-focus-on {
		display: none;
	}
	.sc-application-drawer {
		transition: left var(--focusmode-transition);
	}
	.navbar.navbar-expand-md.navbar-light {
		max-height: 50px;
		transition: max-height var(--focusmode-transition);
	}
	body.focus-mode-active .navbar.navbar-expand-md.navbar-light {
		max-height: 0;
		overflow: hidden;
	}
	.navbar.navbar-expand.navbar-light {
		box-sizing: border-box;
		max-height: 130px;
		overflow: hidden;
		transition: max-height var(--focusmode-transition);
	}
	.navbar-top {
		transition: padding var(--focusmode-transition);
	}
	body.focus-mode-active .sc-toggle-sidebar {
		top: -50px;
	}
	body.focus-mode-active.navbar-top {
		padding-top: 0;
	}
	body.focus-mode-active .navbar.navbar-expand.navbar-light {
		max-height: 0;
		padding-bottom: 0;
		padding-top: 0;
	}
	body.focus-mode-active .sc-application-drawer {
		/* bottom: -100px; */
		--sidebar-width: 0;
	}
	.sidebar.sidebar-dark.sidebar-main.sidebar-expand-md {
		max-width: 270px;
		overflow: hidden;
		transition: max-width var(--focusmode-transition);
	}
	.sidebar-xs .sidebar.sidebar-dark.sidebar-main.sidebar-expand-md {
		max-width: 3.5rem;
	}
	body.focus-mode-active .sidebar.sidebar-dark.sidebar-main.sidebar-expand-md {
		max-width: 0;
	}
	.application-pages .breadcrumb-line,
	.application-pages .sc-application-pe-title {
		max-height: 40px;
		overflow: hidden;
		transition: max-height var(--focusmode-transition);
	}
	.application-pages.focus-mode-active .breadcrumb-line,
	.application-pages.focus-mode-active .sc-application-pe-title {
		max-height: 0px;
	}
	.sc-document-preview-pane {
		position: relative;
		top: 0;
		left: 0;
		padding-bottom: 0;
		height: var(--application-pages-height);
		transition: height var(--focusmode-transition);
		transform: translateX(0);
		opacity: 1;
	}
	.sc-review-empty-state {
		height: var(--application-pages-height);
		transition: max-height var(--focusmode-transition);
		overflow: hidden;
	}
	.sc-application-list-panel-header {
		position: relative;
		z-index: 1;
		background-image: linear-gradient(#f5f5f7ee, #f5f5f7bb);
		-webkit-backdrop-filter: blur(3px);
		backdrop-filter: blur(3px);

	}
	.sc-application-list-panel-wrapper {
		position: absolute;
		padding-top: 3.5em;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		padding-right: 1rem;
		padding-left: 0.625rem;
		padding-bottom: 30px;
		z-index: 0;
	}
	.sc-application-list-panel.rfq-list-panel .sc-application-list-panel-wrapper {
		padding-top: 30px;
	}
	.sc-application-list-panel.rfq-list-panel::before,
	.sc-application-list-panel::after,
	.sc-review-empty-state::before,
	.sc-review-empty-state::after {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		bottom: 0px;
		height: 30px;
		background-image: linear-gradient(#f5f5f700, #f5f5f7ff); 
		pointer-events: none;
	}
	.sc-application-list-panel.rfq-list-panel::before,
	.sc-review-empty-state::before {
		top: 0;
		bottom: unset;
		background-image: linear-gradient(#f5f5f7ff, #f5f5f700); 
		z-index: 1;
	}
	.sc-rfq-quotes-panel-content {
		height: calc(var(--application-pages-height) - 80px);
		padding-inline: 1em;
		margin-inline: 1em;
	}
	/* .sc-review-document-panel  .sc-document-preview-pane,
	.sc-upload-document-panel  .sc-document-upload-pane,
	.sc-upload-document-panel  .sc-document-preview-pane {
		--application-pages-height: calc(100vh - 280px) ;
	} */
	/* .focus-mode-active .sc-review-document-panel  .sc-document-preview-pane,
	.focus-mode-active .sc-upload-document-panel  .sc-document-upload-pane,
	.focus-mode-active .sc-upload-document-panel  .sc-document-upload-pane {
		--application-pages-height: calc(100vh - 120px);
	} */
	.sc-review-empty-state {
		height: var(--application-pages-height);
		/* display: flex; */
		/* flex-direction: column; */
	}
	.sc-rfq-summary {
		height: var(--application-pages-height);
		overflow-y: auto;
		padding: 2em;
	}
	.sc-review-empty-state.hide {
		display: none !important;
	}
	.sc-review-document-panel,
	.sc-upload-document-panel {
		transition: opacity .2s ease-out, transform .2s ease-out;
	}
	.sc-review-document-panel:not(.show),
	.sc-upload-document-panel:not(.show) {
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		transform: translateX(-20px);
		padding: 0 !important;
		margin: 0 !important;
	}
	.sc-review-document-panel.show,
	.sc-upload-document-panel.show {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
	.sc-review-document-panel.fading,
	.sc-upload-document-panel.fading {
		opacity: 0 !important;
		transform: translateX(-20px) !important;
	}
	body.state-paid-rfq .sc-interest-payment {
		display: block !important;
	}
}

@media (min-width: 1200px) {
	.sc-right-float-modal {
		margin-right: 1.75em;
	}
	.sc-application-step {
		white-space: nowrap;
	}
	.sc-quote-row [class*=sc-column] {
		display: block;
	}
	.sc-quote-row [class*=sc-column] label {
		display: none;
	}
	.sc-quote-row [class*=sc-column] input,
	.sc-quote-title :not(.sc-quote-row-description) {
		text-align: right;
	}
	.sc-quote-row,
	.sc-quote-title {
		display: grid;
		align-items: center;
		gap: .5em;
		grid-template-columns: 30% 2fr 2fr 3fr 3fr;
	}
	.state-discount-rfq .sc-quote-row,
	.state-discount-rfq .sc-quote-title {
		grid-template-columns: 30% 2fr 2fr 3fr 3fr 3fr;
	}
}

@media (hover: hover) and (pointer: fine) { 
	
	
	body:not(.accessibility-mode) .touch-only {
		display: none;
	}
	body.accessibility-mode .pointer-only {
		display: none;
	}
	.sc-drag-move {
		cursor: pointer;
		height: 2.5em;
		width: 2.5em;
		background: center no-repeat url('../../../../img/move-checklist.svg');
		background-size: 16px;
		transform: scale(.9);
	}
	.sc-organize-item:hover .sc-drag-move {
		transform: scale(1);
	}
	.sc-alert-dropdown-list .sc-alert-item:not(:hover) .sc-alert-action .btn {
		display: none;
	}
}
@media (hover: none) and (pointer: coarse) { 
	/* touch screens... */
	.pointer-only {
		display: none;
	}
	.sc-touch-dragging {
		/* disable page scrolling during dragula dragging */
		overflow: hidden; 
		position: relative;
		height: 100%;
	}
}

