body {
	font-family: "Work Sans", sans-serif;
	background-color: #f5f5f7;
	letter-spacing: -.01em;
}
.card {
	border: none !important;
	border-radius: .5rem;
}
.card-header:first-child {
    border-radius: .5rem .5rem 0 0;
}
.card-footer:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}
.card:not(.shadow-0),
.sc-shadow:not(.shadow-0) {
	box-shadow: 0 1px 16px rgba(0,0,0,0.08) !important;
}
h1, h2, h3, h4, h5 {
	line-height: 1.1;
}
.rounded-bottom {
	border-bottom-right-radius: 0.5rem !important;
	border-bottom-left-radius: 0.5rem !important;
}
.rounded-top {
	border-top-right-radius: 0.5rem !important;
	border-top-left-radius: 0.5rem !important;
}
.sidebar-light {
	border-right: none;
}
.modal-content {
	border: none;
	border-radius: .5rem;
	box-shadow: 0 1px 6px rgba(0,0,0,0.08) !important;
}
.modal-backdrop {
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	transition: .5s all ease-in-out;
}
.modal-backdrop.show {
	opacity: 1;
	/* background-color: #273855; */
	background-color: rgba(26, 43, 68, 0.5);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
.table thead th {
	border-color: #eee;
}
.navbar-dark {
	background-color: #1F2D44;
}
.sidebar-dark {
	background-color: #273855;
}
.admin-dashboard .navbar-dark {
	background-color: #329367;
}
.admin-dashboard .sidebar-dark {
	background-color: #3EB881;
}
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active {
	background-color: rgba(0,0,0,0.4);
}
.sidebar-dark .nav-sidebar > .nav-item > .nav-link.active {
	background-color: #42CFDF;
}
.admin-dashboard .sidebar-dark .nav-sidebar > .nav-item > .nav-link.active {
	background-color: #329367;
}
.btn-primary,
.btn-primary:hover {
	color: #fff;
}

.btn-outline-green {
	color: #3EB881;
	background-color: transparent;
	background-image: none;
	border-color: #3EB881;
}
.btn-outline-green:hover {
	color: #fff;
	background-color: #3EB881;
	border-color: #3EB881;
}
.btn-outline-green.disabled {
	color: #3EB881;
	background-color: transparent;
}
.btn-outline-green:not([disabled]):not(.disabled):active,
.show > .btn-outline-green.dropdown-toggle {
	color: #fff;
	background-color: #3EB881;
	border-color: #3EB881;
}
.btn-green {
	color: #fff;
	background-color: #3EB881;
}
.btn-green:hover {
	color: #fff;
	background-color: #3EB881;
}
.sidebar-xs .sc-menu-hide {
	display: none;
}
body:not(.sidebar-xs) .sc-menu-show {
	display: none;
}
.sc-word-wrap {
	word-wrap: break-word !important;
}
.alert:not(.alert-styled-left):not(.alert-styled-right) {
	border: none;
}
.alert {
	box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	border-radius: .5rem !important;
}
.alert-styled-left {
	border-top: none;
	border-right: none;
	border-bottom: none;
}
.alert-styled-right {
	border-top: none;
	border-left: none;
	border-bottom: none;
}
.alert-link {
	text-decoration: underline;
}
.alert-secure {
	color: #329367;
	background-color: #e4f9ec;
	font-weight: 500;
	border-color: #3EB881;
}
.alert-secure a {
	color: #225737;
	text-decoration: underline;
}
.alert-secure .alert-link {
	color: #3EB881; 
}
.alert.alert-secure[class*="alert-styled-"]::after {
	content: '\ed6f';
}
.badge-success {
    color: #fff;
}
.badge-primary {
    color: #fff;
}
.sidebar-xs .sidebar-main.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
	background-color: #273855;
}
.sc-pointer {
	cursor: pointer;
}
.sc-max-lines-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-height: 1.5385;
	max-height: 1.7em;
}
.sc-max-lines-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5385;
	max-height: 3.4em;
}
.sc-max-lines-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 1.5385;
	max-height: 5.1em;
}
.select2-results__option > .select2-results__group {
	font-weight: .8em;
	text-transform: uppercase;
}
.uniform-checker span,
.uniform-choice span {
	border-color: #cccccc;
	color: #273855;
}
.uniform-checker span.checked,
.uniform-choice span.checked {
	color: #273855;
}
.sc-categories .form-check .uniform-checker {
    top: 50%;
    transform: translateY(-50%);
}
.uniform-choice span.checked::after {
	border-color: #273855;
}
.breadcrumb {
	padding-top: .5rem;
}
.breadcrumb-item {
	padding: 0.2rem 0;
}
.sc-move-tile {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.sc-file-review {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.gu-transit {
	opacity: .5;
	color: #eee;
	background-color: #eee !important;
	border: 1px dashed #999 !important;
}
.gu-transit > * {
	opacity: 0;
}
.select2-selection--single:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.select2-selection--single:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.form-control {
	border-color: #f6f6f6;
	background-color: #f6f6f6;
}
.validation-invalid-label, .validation-valid-label {
    font-size: .8rem;
    line-height: 1;
}
.validation-invalid-label::before, .validation-valid-label::before {
	font-size: .8rem;
}
.sc-document-folder {
	background: #f4f4f4;
	flex-basis: 100%;
}
.sc-folder-open {
	display: none;
}
.sc-folder-closed {
	display: block;
}
[aria-expanded=true] > .sc-folder-open {
	display: block;
}
[aria-expanded=true] > .sc-folder-closed {
	display: none;
}
[aria-expanded=true] > div > div > .icon-arrow-down22,
	[aria-expanded=true] > .icon-arrow-down22 {
	transform: rotate(180deg);
}
.sc-checklist-view {
	position: relative;
	min-height: 80vh;
}
.sc-checklist-view .sc-document-area {
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0.75em;
	left: 0.75em;
}
.sc-tender-preview {
	position: relative;
	min-height: 60vh;
}
.sc-checklist-view .sc-tender-preview {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.sc-tender-preview .pdfobject {
	position: absolute;
}
.jGrowl-closer {
	background: #273855;
	color: #fff;
	border: none;
}
.sc-progress {
	position: absolute;
	left: 0;
	right: 0;
}
.sc-progress .progress {
	height: 5px;
}
.sc-progress .progress-bar {
	animation: progress-reveal 1.6s;
	transform-origin: 0%;
}
.sc-progress-label {
	position: absolute;
	text-align: right !important;
	bottom: 100%;
	text-align: center;
	bottom: 100%;
	transform: translate(0,50%);
	z-index: 1;
	animation: progress-number-reveal 1.5s;
	transition: .6s all ease;
}
.sc-progress-label .d-none.d-sm-inline {
	margin-left: .5em;
}
.card-footer .sc-progress {
	bottom: 100%;
}
.card-header .sc-progress {
	top: 100%;
}
.sc-tender-calendar-header {
	color: #42CFDF;
}
#checklist-part-1b {
	transition: margin .3s ease-in-out;
}
.sc-flash {
	animation: flash .5s forwards;
}
.sc-beta-badge {
	position: absolute;
	font-size: 8px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: -.5em;
	border-radius: .2em;
	display: none;
}
.sc-spin-back {
	animation-name: spin;
	animation-duration: 6000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}
.sc-spin-forward {
	animation: spin 8000ms infinite linear;
}
.application-notes {
	min-height: 60vh;
}

@keyframes flash {
	0%   { color: inherit; }
	10%   { color: #42CFDF; }
	100%   { color: inherit; }
}
@keyframes progress-number-reveal {
	0%   { transform: translate(-100%,50%); }
	100% { transform: translate(0,50%); }
}
@keyframes progress-reveal {
	0%   { transform: scaleX(0); }
	100%   { transform: scaleX(1); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.sc-icons-svg {
	display: inline-block;
	vertical-align: text-bottom;
	width: 1.3em;
	height: auto;
	margin: 0;
}
.fe-social-icons {
	display: inline-block;
	width: 4em;
	vertical-align: middle;
	margin: .5em;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
.fe-social-icons img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	transition: .5s filter ease-in-out;
}
.fe-social-icons:hover img {
	transform: scale(1.1);
}
.faq-maxwidth {
	max-width: 800px;
}
.faq-questions [aria-expanded=true] h5 {
	color: #42CFDF;
}
.removebookmarkwidget i::after {
	content: "-";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #FF7043;
    line-height: 3px;
    background-color: #fff;
    left: 9px;
	top: 2px;
	transition: .5s filter ease-in-out;
}
.removebookmarkwidget i {
	color: #FF7043;
}
.sc-slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	border-radius: 5px;
	opacity: 0.7;
	transition: opacity .2s;
	position: relative;
	z-index: 1;
}
.sc-slider:hover {
	opacity: 1;
}
.sc-slider::-webkit-slider-thumb,
.sc-slider::-moz-range-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 5px;
	background: #42CFDF;
	border: none;
	cursor: pointer;
}
.sc-feedback-rating-radio input[type=radio] {
	visibility: hidden;
}
.sc-feedback-rating-radio img {
	width: 32px;
	height: auto;
	cursor: pointer;
	margin: .5em;
}
.sc-feedback-rating-radio input:not(:checked) ~ img {
	opacity: .5;
	filter: url(filters.svg#grayscale);/* Firefox 3.5+ */
	filter: gray;/* IE6-9 */
	-webkit-filter: grayscale(1);/* Google Chrome & Safari 6+ */
}
.sc-survey-steps {
	position: absolute;
	height: 5px;
	left: 16px;
	right: 16px;
	border-right: 1px solid #ddd;
	display:flex;
	align-items: flex-end;
}
.sc-survey-steps span {
	display: block;
	height: 100%;
	border-left: 1px solid #eee;
	flex-basis: 100%;
}
.sc-survey-steps span:nth-child(even) {
	border-color: #ddd;
	height: 150%;
}
.sc-business-tile {
	position: relative;
}
.sc-company-logo {
	display: block;
	width: 100%;
	height: 100px;
	object-fit: contain;
}
.sc-company-logo.sc-logo-square {
	width: 100px;
	display: inline-block;
}
.badge.sc-active-badge {
	position: absolute !important;
	top: 5px;
	left: 5px;
}
.sc-hidden-radio {
	/* visibility: hidden;	 */
	opacity: 0;
	width: 0;
	height: 0;
	line-height: 0;
}
.sc-hidden-radio + label {
	cursor: pointer;
	position: relative;
}
.sc-hidden-radio:focus + label {
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.sc-hidden-radio:checked + label {
	border-color: #42CFDF !important;
}
.sc-hidden-radio + label:before {
	content: "";
	color: #fff;
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #ddd;
	left: -12px;
	top: 10px;
	border-radius: 50%;

	font-family: 'icomoon' !important;
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	min-width: 1em;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sc-hidden-radio:checked + label:before {
	content: "\e372";
	border: 1px solid #42CFDF;
	background-color: #42CFDF;
}
.sc-selected-plan {
	border-top: 1px solid;
}
.sc-completeness-indicator {
	border: 1px solid #3EB881;
	display: flex;
	padding: 2px;
	border-radius: 8px;
}
.sc-completeness-indicator.sc-readiness {
	border: 1px solid #42CFDF;
}
.sc-completeness-indicator div {
	height: 6px;
	/* background-color: #fff; */
	width: 33%;
	margin-left: 2px;
	position: relative;
	overflow: hidden;
}
.sc-completeness-indicator div:before,
.sc-completeness-indicator div:after {
	content: "";
	position: absolute;
	display: block;
	width: calc(50% - 1px);
	top: 0;
	left: 0;
	background-color: #fff;
	height: 100%;
	opacity: .15;
}
.sc-completeness-indicator div:after {
	left: auto;
	right: 0;
}
.sc-completeness-indicator div:first-child {
	margin-left: 0;
	border-radius: 3px 0 0 3px;
}
.sc-completeness-indicator div:last-child {
	border-radius: 0 3px 3px 0;
}
.sc-completeness-indicator div.active-bar:before,
.sc-completeness-indicator div.active-bar:after {
	opacity: 1;
	background-color: #3EB881;
}
.sc-completeness-indicator.sc-readiness div:before,
.sc-completeness-indicator.sc-readiness div:after {
	background-color: #999;
}
.sc-completeness-indicator.sc-readiness div.active-bar:before,
.sc-completeness-indicator.sc-readiness div.active-bar:after {
	opacity: 1;
	background-color: #42CFDF;
}
#sc-readiness-steps a {
	display: inline-block;
}
#sc-onboarding-steps a,
#sc-readiness-steps a {
	transition: .3s all ease-in-out;
	transform: translateX(2px);
}
#sc-onboarding-steps a:not(:hover),
#sc-readiness-steps a:not(:hover) {
	color: inherit;
	transform: translateX(0);
}
.sc-stat-linked-card {
	transition: .3s all ease-in-out;
}
.sc-stat-linked-card:not(:hover) {
	color: inherit;
}
.sc-stat-linked-card:hover {
	box-shadow: 0 5px 25px rgba(0,0,0,0.08) !important;
	transform: translateY(-3px);
}

/* new process nav */

.sc-mobile-controls {
	display: block;
	position: fixed;
	bottom: -100px;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: #fff;
	border-top: 1px solid #eee;
	animation: showup .5s 1s ease-in-out forwards;
	transition: .5s ease-in-out;
}
@keyframes showup {
	to {bottom: 0}
}
.sc-mobile-controls .btn-dock-nav,
.sc-show-progress {
	border: none;
	color: #666;
	background: transparent;
}
.sc-mobile-controls .dock-nav-label {
	display: block;
	font-size: 10px;
}
/* progress bar */
.sc-progress .progress {
	box-shadow: none;
}
.sc-documents-ready {
	position: relative;
	margin: .5em;
	height: .1em;
}
.show-progress-tracking .dock-nav-label {
	display: block;
	max-height: 50px;
}
.embed-pdf {
	height: calc(100vh - 130px);
}
.sc-progress-tracking {
	border-top: 1px solid #eee;
	box-sizing: border-box;
	max-height: 0;
	transition: .3s ease-in-out;
	line-height: 1;
	overflow: hidden;
}
.sc-position .d-lg-block {
	white-space: nowrap;
}
.progress-close-icon {
	display: none;
}
.show-progress-tracking .progress-close-icon {
	display: block;
}
.btn-dock-nav:active,
.btn-dock-nav:focus {
	box-shadow: none !important;
}
.show-mobile-drawer .sc-show-preview {
	color: #42CFDF;
}
.progress-menu-icon {
	display: block;
}
.show-progress-tracking .progress-menu-icon {
	display: none;
}
.show-progress-tracking .sc-progress-tracking {
	max-height: 200px;
}
.application-pages .navbar.navbar-expand.navbar-light {
	padding-bottom: 70px;
}
.application-pages .page-title {
	padding: .5rem 0 1rem;
}
/* checklist */
.sc-application-item {
	display: flex;
	align-items: stretch;
	padding: .4em;
	background-color: #fff;
	margin-bottom: .3em;
}
.sc-application-item:before {
	content: "";
	border-left: 3px solid #ddd;
	margin-right: .5em;
	border-radius: 2px;
	transition: border .2s ease-in-out;
}
.sc-application-item-title {
	margin: auto 0;
	padding: .3em;
	line-height: 1.2;
}
.sc-application-item-right {
	margin: auto 0 auto auto;
}
.sc-organize-item:before {
	border-color: #42CFDF;
}
.sc-organize-item {
	cursor: pointer;
	transition: .5s ease-in-out;
}
.sc-organize-item:hover {
	transform: translateX(2px);
}

.sc-application-checklist-item {
	display: flex;
	align-items: stretch;
	padding: .4em;
	background-color: #fff9;
	margin-bottom: 1px;
}
.sc-checklist-input {
	display: block;
	cursor: pointer;
	margin-bottom: 0;
}
.sc-checklist-input > input[type="checkbox"] {
	visibility: hidden;
	width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
}
.sc-item-checkmark {
	width: 1.6em;
	height: 1.6em;
	border-radius: 3px;
	color: #fff;
	/* background-color: #fff; */
	padding: .2em;
	border: 2px solid #1A2B4466;
	transition: all .2s ease-in-out;
}
input[type="checkbox"]:focus + .sc-application-checklist-item .sc-item-checkmark ,
.sc-checklist-input:hover .sc-item-checkmark {
	color: #ccc;
}
.sc-checklist-input > input[type="checkbox"]:checked + .sc-application-checklist-item {
	font-weight: 500;
	background-color: #fff;
	/* background-color: #f1f8f9; */
}
.sc-checklist-input > input[type="checkbox"]:checked + .sc-application-checklist-item .sc-item-checkmark {
	color: #1A2B44;
	background-color: #fff;
}
.sc-accessible-move {
	display: none;
}
/* document verification */
.sc-document-row {
	color: inherit;
}
.sc-document-row-empty .sc-document-added,
.sc-document-row-empty .sc-document-verified {
	display: none;
}
.sc-document-row-added .sc-document-empty,
.sc-document-row-added .sc-document-verified {
	display: none;
}
.sc-document-row-added:before {
	border-color: #42CFDF;
}
.sc-document-row-verified .sc-document-empty,
.sc-document-row-verified .sc-document-added {
	display: none;
}
.sc-document-row-verified:before {
	border-color: #8BC34A;
}
.sc-application-list-panel {
	position: relative;
	min-height: 80vh;
	overflow: hidden;
}
.sc-checklist-add-popup {
	position: absolute;
	background-color: #f5f5f7cc;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	transform: translateX(100%);
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease-in-out;
}
.sc-checklist-add-popup.show {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}
.sc-checklist-add-popup-wrapper {
	overflow: auto;
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}
.sc-checklist-add-popup-wrapper:after {
	content: "";
	display: block;
	margin: 30px auto;
	max-width: 200px;
	height: 1px;
	background-color: #ccc;
	text-align: center;
}
.sc-checklist-add-popup-footer {
	position: relative;
}
.sc-checklist-add-popup-footer:after {
	content: "";
	display: block;
	left: 0;
	right: 0;
	top: -31px;
	height: 30px;
	background-image: linear-gradient(#f5f5f700, #f5f5f7ff); 
	position: absolute;
}
.sc-application-focus {
	overflow: hidden;
}
.sc-application-focus .navbar.navbar-expand.navbar-light {
	max-height: 0;
	overflow: hidden;
	padding-bottom: 0;
}
@media (min-width: 768px) {
	.sidebar-xs .sc-menu-offer-header,
	.sidebar-xs .sc-menu-offer-body {
		display: none;
	}
	.sc-tender-rows:hover .sc-tender-row:not(:hover) {
		background: #f7f7f7;
		/* opacity: .8; */
	}
	.sc-tender-preview {
		position: relative;
		min-height: 80vh;
	}
	.sc-tender-row:not(:hover) a,
	.sc-tender-row:not(:hover) .icon {
		color: inherit !important;
	}
	.sc-tender-row:not(:hover) .bg-green {
		background-color: rgba(0, 0, 0, .05) !important;
	}
	.sc-tender-row:not(:hover) .removebookmarkwidget i::after {
		border-color: inherit !important;
	}
	.sc-tender-row:not(:hover) .removebookmarkwidget i {
		color: inherit !important;
	}
	.sc-selected-plan {
		border-top: none;
		border-left: 1px solid;
	}
	/* new process nav */
	.sc-mobile-controls {
		left: 270px;
	}
	.sidebar-xs .sc-mobile-controls {
		left: 56px;
	}
	.embed-pdf {
		height: 90vh;
	}
	.sc-mobile-drawer {
		left: 3.5rem !important;
	}
	.sc-checklist-add-popup.show {
		left: 3.5rem;
	}
}

@media (max-width: 991px) {
	/* new pdf view drawer */
	.show-mobile-drawer {
		overflow: hidden;
	}
	.sc-mobile-drawer {
		position: fixed;
		bottom: 0;
		z-index: 98;
		left: 0;
		right: 0;
		top: 100vh;
		padding: .5em .5em 70px;
		background: #fff;
		box-sizing: border-box;
		transition: top .6s ease-in-out;
	}
	.show-mobile-drawer .sc-mobile-drawer {
		top: 0;
	}
	.sc-checklist-add-popup {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.sc-checklist-add-popup-footer {
		padding-bottom: 85px !important;
	}
}
@media (max-width: 767px) {
	.sc-tender-row a.sc-max-lines-2 {
		color: inherit !important;
	}
	.sc-mobile-drawer {
		top: 0;
		visibility: hidden;
		opacity: 0;
		transform: translateX(-100%) scale(1.1);
		transition: .3s ease-in-out;
		transition-delay: opacity .5s;
	}
	.show-mobile-drawer .sc-mobile-drawer {
		visibility: visible;
		opacity: 1;
		transform: translateX(0%) scale(1);
	}
}
@media (min-width: 992px) {
	.sc-progress-tracking {
		max-height: none;
		border: none;
	}
	.sc-application-list-panel-header {
		position: relative;
		z-index: 1;
		background-image: linear-gradient(#f5f5f7ee, #f5f5f766);
		-webkit-backdrop-filter: blur(3px);
		backdrop-filter: blur(3px);

	}
	.sc-application-list-panel-wrapper {
		position: absolute;
		padding-top: 3.2em;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
		padding-right: 0.625rem;
		padding-left: 0.625rem;
		padding-bottom: 30px;
		z-index: 0;
	}
	.sc-application-list-panel:after {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		right: 0;
		bottom: 0px;
		height: 30px;
		background-image: linear-gradient(#f5f5f700, #f5f5f7ff); 
	}
	/* focus state */
	.navbar-expand-md.navbar-light ,
	.navbar.navbar-expand.navbar-light ,
	.sc-application-pe-title,
	.breadcrumb-line{
		max-height: 100px;
		transition: max-height .5s ease-in-out;
	}
	.sc-application-focus .sc-mobile-controls {
		transform: translateY(100%);
		transition: .5s ease-in-out;
	}
	.sc-application-focus .navbar-expand-md.navbar-light,
	.sc-application-focus .navbar.navbar-expand.navbar-light ,
	.sc-application-focus .sc-application-pe-title,
	.sc-application-focus .breadcrumb-line {
		max-height: 0;
		overflow: hidden;
		padding-bottom: 0;
	}
	.sidebar-xs .sidebar.sidebar-dark {
		max-width: 60px;
	}
	.sidebar.sidebar-dark {
		max-width: 270px;
		transition: max-width .6s ease-in-out;
	}
	.sidebar.sidebar-dark > * {
		transition: opacity .2s ease-in-out;
	}
	.sc-application-focus .sidebar.sidebar-dark {
		max-width: 0;
		overflow: hidden;
	}
	.sc-application-focus .sidebar.sidebar-dark > * {
		transition: opacity .5s ease-in-out;
	}
	.sc-application-focus .sidebar.sidebar-dark > * {
		opacity: 0;
	}

	.sc-mobile-drawer {
		position: sticky;
		width: 100%;
		max-height: none;
		top: 1em;
		right: auto;
		left: auto;
		bottom: auto;
		overflow: auto;
	}
	.sc-checklist-add-popup.show {
		left: 0;
	}
}
@media (min-width: 1200px) {
	.sc-right-float-modal {
		margin-right: 1.75em;
	}

	/* new process nav */
	.dock-nav-label {
		/* max-height: none !important; */
	}
}
@media (hover: none) and (pointer: coarse) { 
    /* touch screens... */
	.sc-touch-dragging {
		/* disable page scrolling during dragula dragging */
		overflow: hidden; 
		position: relative;
		height: 100%;
	}
	.sc-drag-move {
		display: none;
	}
	.sc-accessible-move {
		display: block;
	}
}