body {
	font-family: "Work Sans", sans-serif;
	background-color: #fdfdfd;
	letter-spacing: -.01em;
}
.card {
	border: none !important;
	border-radius: .5rem;
}
.card-header:first-child {
    border-radius: .5rem .5rem 0 0;
}
.card-footer:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}
.card:not(.shadow-0),
.sc-shadow:not(.shadow-0) {
	box-shadow: 0 1px 16px rgba(0,0,0,0.08) !important;
}
.bg-success, .btn-success {
	color: #fff;
}
h1, h2, h3, h4, h5 {
	line-height: 1.1;
}
.rounded-bottom {
	border-bottom-right-radius: 0.5rem !important;
	border-bottom-left-radius: 0.5rem !important;
}
.rounded-top {
	border-top-right-radius: 0.5rem !important;
	border-top-left-radius: 0.5rem !important;
}
.sidebar-light {
	border-right: none;
}
.modal-content {
	border: none;
	border-radius: .5rem;
	box-shadow: 0 1px 6px rgba(0,0,0,0.08) !important;
}
.modal-backdrop {
	-webkit-backdrop-filter: blur(0px);
	backdrop-filter: blur(0px);
	transition: .5s all ease-in-out;
}
.modal-backdrop.show {
	opacity: 1;
	/* background-color: #273855; */
	background-color: rgba(26, 43, 68, 0.5);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
.table thead th {
	border-color: #eee;
}
.navbar-dark {
	background-color: #1F2D44;
}
.sidebar-dark {
	background-color: #273855;
}
.admin-dashboard .navbar-dark {
	background-color: #329367;
}
.admin-dashboard .sidebar-dark {
	background-color: #3EB881;
}
.sidebar-dark .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item-open>.nav-link:not(.disabled),
.sidebar-light .card[class*=bg-]:not(.bg-light):not(.bg-white):not(.bg-transparent) .nav-sidebar>.nav-item>.nav-link.active {
	background-color: rgba(0,0,0,0.4);
}
.sidebar-dark .nav-sidebar > .nav-item > .nav-link.active {
	background-color: #42CFDF;
}
.admin-dashboard .sidebar-dark .nav-sidebar > .nav-item > .nav-link.active {
	background-color: #329367;
}
.btn-primary,
.btn-primary:hover {
	color: #fff;
}

.btn-outline-green {
	color: #3EB881;
	background-color: transparent;
	background-image: none;
	border-color: #3EB881;
}
.btn-outline-green:hover {
	color: #fff;
	background-color: #3EB881;
	border-color: #3EB881;
}
.btn-outline-green.disabled {
	color: #3EB881;
	background-color: transparent;
}
.btn-outline-green:not([disabled]):not(.disabled):active,
.show > .btn-outline-green.dropdown-toggle {
	color: #fff;
	background-color: #3EB881;
	border-color: #3EB881;
}
.btn-green {
	color: #fff;
	background-color: #3EB881;
}
.btn-green:hover {
	color: #fff;
	background-color: #3EB881;
}
.sidebar-xs .sc-menu-hide {
	display: none;
}
body:not(.sidebar-xs) .sc-menu-show {
	display: none;
}
.sc-word-wrap {
	word-wrap: break-word !important;
}
.alert:not(.alert-styled-left):not(.alert-styled-right) {
	border: none;
}
.alert {
	box-shadow: 0 1px 0px rgba(0,0,0,0.1);
	border-radius: .5rem !important;
}
.alert-styled-left {
	border-top: none;
	border-right: none;
	border-bottom: none;
}
.alert-styled-right {
	border-top: none;
	border-left: none;
	border-bottom: none;
}
.alert-link {
	text-decoration: underline;
}
.alert-secure {
	color: #329367;
	background-color: #e4f9ec;
	font-weight: 500;
	border-color: #3EB881;
}
.alert-secure a {
	color: #225737;
	text-decoration: underline;
}
.alert-secure .alert-link {
	color: #3EB881; 
}
.alert.alert-secure[class*="alert-styled-"]::after {
	content: '\ed6f';
}
.badge-success {
    color: #fff;
}
.badge-primary {
    color: #fff;
}
.sidebar-xs .sidebar-main.sidebar-dark .nav-sidebar > .nav-item-submenu > .nav-group-sub {
	background-color: #273855;
}
.sc-pointer {
	cursor: pointer;
}
.sc-max-lines-1 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-height: 1.5385;
	max-height: 1.7em;
}
.sc-max-lines-2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5385;
	max-height: 3.4em;
}
.sc-max-lines-3 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 1.5385;
	max-height: 5.1em;
}
.select2-results__option > .select2-results__group {
	font-weight: .8em;
	text-transform: uppercase;
}
.uniform-checker span,
.uniform-choice span {
	border-color: #cccccc;
	color: #273855;
}
.uniform-checker span.checked,
.uniform-choice span.checked {
	color: #273855;
}
.sc-categories .form-check .uniform-checker {
    top: 50%;
    transform: translateY(-50%);
}
.uniform-choice span.checked::after {
	border-color: #273855;
}
.breadcrumb {
	padding-top: .5rem;
}
.breadcrumb-item {
	padding: 0.2rem 0;
}
.sc-move-tile {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.sc-file-review {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.gu-transit {
	opacity: .5;
	color: #eee;
	background-color: #eee !important;
	border: 1px dashed #999 !important;
}
.gu-transit > * {
	opacity: 0;
}
.select2-selection--single:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.select2-selection--single:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]):not([class*="border-"]) {
    border-color: #f6f6f6;
}
.select2-selection--multiple:not([class*="bg-"]) {
    background-color: #f6f6f6;
}
.form-control {
	border-color: #f6f6f6;
	background-color: #f6f6f6;
}
.validation-invalid-label, .validation-valid-label {
    font-size: .8rem;
    line-height: 1;
}
.validation-invalid-label::before, .validation-valid-label::before {
	font-size: .8rem;
}
.sc-document-folder {
	background: #f4f4f4;
	flex-basis: 100%;
}
.sc-folder-open {
	display: none;
}
.sc-folder-closed {
	display: block;
}
[aria-expanded=true] > .sc-folder-open {
	display: block;
}
[aria-expanded=true] > .sc-folder-closed {
	display: none;
}
[aria-expanded=true] > div > div > .icon-arrow-down22,
	[aria-expanded=true] > .icon-arrow-down22 {
	transform: rotate(180deg);
}
.sc-checklist-view {
	position: relative;
	min-height: 80vh;
}
.sc-checklist-view .sc-document-area {
	position: absolute;
	top: 50px;
	bottom: 0;
	right: 0.75em;
	left: 0.75em;
}
.sc-tender-preview {
	position: relative;
	min-height: 60vh;
}
.sc-checklist-view .sc-tender-preview {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.sc-tender-preview .pdfobject {
	position: absolute;
}
.jGrowl-closer {
	background: #273855;
	color: #fff;
	border: none;
}
.sc-progress {
	position: absolute;
	left: 0;
	right: 0;
}
.sc-progress .progress {
	height: 5px;
}
.sc-progress .progress-bar {
	animation: progress-reveal 1.6s;
	transform-origin: 0%;
}
.sc-progress-label {
	position: absolute;
	text-align: right !important;
	bottom: 100%;
	text-align: center;
	bottom: 100%;
	transform: translate(0,50%);
	z-index: 1;
	animation: progress-number-reveal 1.5s;
	transition: .6s all ease;
}
.sc-progress-label .d-none.d-sm-inline {
	margin-left: .5em;
}
.card-footer .sc-progress {
	bottom: 100%;
}
.card-header .sc-progress {
	top: 100%;
}
.sc-tender-calendar-header {
	color: #42CFDF;
}
#checklist-part-1b {
	transition: margin .3s ease-in-out;
}
.sc-flash {
	animation: flash .5s forwards;
}
.sc-beta-badge {
	position: absolute;
	font-size: 8px;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: -.5em;
	border-radius: .2em;
	display: none;
}
.sc-spin-back {
	animation-name: spin;
	animation-duration: 6000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}
.sc-spin-forward {
	animation: spin 8000ms infinite linear;
}
.application-notes {
	min-height: 60vh;
}
@keyframes flash {
	0%   { color: inherit; }
	10%   { color: #42CFDF; }
	100%   { color: inherit; }
}
@keyframes progress-number-reveal {
	0%   { transform: translate(-100%,50%); }
	100% { transform: translate(0,50%); }
}
@keyframes progress-reveal {
	0%   { transform: scaleX(0); }
	100%   { transform: scaleX(1); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.sc-icons-svg {
	display: inline-block;
	vertical-align: text-bottom;
	width: 1.3em;
	height: auto;
	margin: 0;
}
.fe-social-icons {
	display: inline-block;
	width: 4em;
	vertical-align: middle;
	margin: .5em;
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
}
.fe-social-icons img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	transition: .5s filter ease-in-out;
}
.fe-social-icons:hover img {
	transform: scale(1.1);
}
.faq-maxwidth {
	max-width: 800px;
}
.faq-questions [aria-expanded=true] h5 {
	color: #42CFDF;
}
.removebookmarkwidget i::after {
	content: "-";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #FF7043;
    line-height: 3px;
    background-color: #fff;
    left: 9px;
	top: 2px;
	transition: .5s filter ease-in-out;
}
.removebookmarkwidget i {
	color: #FF7043;
}
.sc-slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	border-radius: 5px;
	opacity: 0.7;
	transition: opacity .2s;
	position: relative;
	z-index: 1;
}
.sc-slider:hover {
	opacity: 1;
}
.sc-slider::-webkit-slider-thumb,
.sc-slider::-moz-range-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 5px;
	background: #42CFDF;
	border: none;
	cursor: pointer;
}
.sc-feedback-rating-radio input[type=radio] {
	visibility: hidden;
}
.sc-feedback-rating-radio img {
	width: 32px;
	height: auto;
	cursor: pointer;
	margin: .5em;
}
.sc-feedback-rating-radio input:not(:checked) ~ img {
	opacity: .5;
	filter: url(filters.svg#grayscale);/* Firefox 3.5+ */
	filter: gray;/* IE6-9 */
	-webkit-filter: grayscale(1);/* Google Chrome & Safari 6+ */
}
.sc-survey-steps {
	position: absolute;
	height: 5px;
	left: 16px;
	right: 16px;
	border-right: 1px solid #ddd;
	display:flex;
	align-items: flex-end;
}
.sc-survey-steps span {
	display: block;
	height: 100%;
	border-left: 1px solid #eee;
	flex-basis: 100%;
}
.sc-survey-steps span:nth-child(even) {
	border-color: #ddd;
	height: 150%;
}
.sc-business-tile {
	position: relative;
}
.sc-company-logo {
	display: block;
	width: 100%;
	height: 100px;
	object-fit: contain;
}
.sc-company-logo.sc-logo-square {
	width: 100px;
	display: inline-block;
}
.badge.sc-active-badge {
	position: absolute !important;
	top: 5px;
	left: 5px;
}
.sc-hidden-radio {
	/* visibility: hidden;	 */
	opacity: 0;
	width: 0;
	height: 0;
	line-height: 0;
}
.sc-hidden-radio + label {
	cursor: pointer;
	position: relative;
}
.sc-hidden-radio:focus + label {
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.sc-hidden-radio:checked + label {
	border-color: #42CFDF !important;
}
.sc-hidden-radio + label:before {
	content: "";
	color: #fff;
	position: absolute;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #ddd;
	left: -12px;
	top: 10px;
	border-radius: 50%;

	font-family: 'icomoon' !important;
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	min-width: 1em;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sc-hidden-radio:checked + label:before {
	content: "\e372";
	border: 1px solid #42CFDF;
	background-color: #42CFDF;
}
.sc-selected-plan {
	border-top: 1px solid;
}
.sc-completeness-indicator {
	border: 1px solid #3EB881;
	display: flex;
	padding: 2px;
	border-radius: 8px;
}
.sc-completeness-indicator.sc-readiness {
	border: 1px solid #42CFDF;
}
.sc-completeness-indicator div {
	height: 6px;
	/* background-color: #fff; */
	width: 33%;
	margin-left: 2px;
	position: relative;
	overflow: hidden;
}
.sc-completeness-indicator div:before,
.sc-completeness-indicator div:after {
	content: "";
	position: absolute;
	display: block;
	width: calc(50% - 1px);
	top: 0;
	left: 0;
	background-color: #fff;
	height: 100%;
	opacity: .15;
}
.sc-completeness-indicator div:after {
	left: auto;
	right: 0;
}
.sc-completeness-indicator div:first-child {
	margin-left: 0;
	border-radius: 3px 0 0 3px;
}
.sc-completeness-indicator div:last-child {
	border-radius: 0 3px 3px 0;
}
.sc-completeness-indicator div.active-bar:before,
.sc-completeness-indicator div.active-bar:after {
	opacity: 1;
	background-color: #3EB881;
}
.sc-completeness-indicator.sc-readiness div:before,
.sc-completeness-indicator.sc-readiness div:after {
	background-color: #999;
}
.sc-completeness-indicator.sc-readiness div.active-bar:before,
.sc-completeness-indicator.sc-readiness div.active-bar:after {
	opacity: 1;
	background-color: #42CFDF;
}
#sc-readiness-steps a {
	display: inline-block;
}
#sc-onboarding-steps a,
#sc-readiness-steps a {
	transition: .3s all ease-in-out;
	transform: translateX(2px);
}
#sc-onboarding-steps a:not(:hover),
#sc-readiness-steps a:not(:hover) {
	color: inherit;
	transform: translateX(0);
}
.sc-stat-linked-card {
	transition: .3s all ease-in-out;
}
.sc-stat-linked-card:not(:hover) {
	color: inherit;
}
.sc-stat-linked-card:hover {
	box-shadow: 0 5px 25px rgba(0,0,0,0.08) !important;
	transform: translateY(-3px);
}
.sc-toggle-sidebar {
    position: fixed;
    left: 255px;
    top: 10px;
    z-index: 999;
    padding: 0.3em;
    width: 30px;
    height: 30px;
}
.sidebar-xs .sc-toggle-sidebar {
    left: 40px;
}
#modal_tips .carousel-indicators {
    position: static;
    /* right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0; */
    margin-right: 0px;
    margin-left: 0px;
    list-style: none;
}
#modal_tips .carousel-indicators li {
    /* position: relative; */
    /* -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; */
    width: auto;
    height: auto;
    margin: 0px;
    text-indent: 0px;
    /* cursor: pointer; */
    background-color: transparent;
	max-width: 0em;
	overflow: hidden;
}
#modal_tips .carousel-indicators .active {
    background-color: transparent;
	max-width: 2em;
}
#modal_tips .carousel-indicators li.get-started-total-tips {
	max-width: initial;
	margin-left: .5em;
}
.sidebar-xs .nav-sidebar .sc-quick-tour {
	display: none !important;
}
.sc-alert-item:not(.sc-alert-unread) .sc-alert-icon {
	filter: grayscale(100%);
}
.sc-alert-item .media-body a {
	color: inherit;
}
.sc-alert-item.sc-alert-unread .media-body a {
	font-weight: 500;
	color: #273855;
}
.sc-alert-item.sc-alert-unread .sc-mark-unread {
	display: none;
}
.sc-alert-item:not(.sc-alert-unread) .sc-mark-read {
	display: none;
}
.dropdown-scrollable-alerts {
    max-height: 80vh;
    overflow-y: auto;
}
@media (hover: hover) and (pointer: fine) { 
		
	.sc-alert-dropdown-list .sc-alert-item:not(:hover) .sc-alert-action .btn {
		display: none;
	}
}
@media (max-width: 768px) {
	.sc-tender-row a.sc-max-lines-2 {
		color: inherit !important;
	}
}
@media (min-width: 768px) {
	.sidebar-xs .sc-menu-offer-header,
	.sidebar-xs .sc-menu-offer-body {
		display: none;
	}
	.sc-tender-rows:hover .sc-tender-row:not(:hover) {
		background: #f7f7f7;
		/* opacity: .8; */
	}
	.sc-tender-preview {
		position: relative;
		min-height: 80vh;
	}
	.sc-tender-row:not(:hover) a,
	.sc-tender-row:not(:hover) .icon {
		color: inherit !important;
	}
	.sc-tender-row:not(:hover) .bg-green {
		background-color: rgba(0, 0, 0, .05) !important;
	}
	.sc-tender-row:not(:hover) .removebookmarkwidget i::after {
		border-color: inherit !important;
	}
	.sc-tender-row:not(:hover) .removebookmarkwidget i {
		color: inherit !important;
	}
	.sc-selected-plan {
		border-top: none;
		border-left: 1px solid;
	}
}
@media (min-width: 1200px) {
	.sc-right-float-modal {
		margin-right: 1.75em;
	}
}
@media (hover: none) and (pointer: coarse) { 
    /* touch screens... */
	.sc-touch-dragging {
		/* disable page scrolling during dragula dragging */
		overflow: hidden; 
		position: relative;
		height: 100%;
	}
}

