/*
    Common 
*/

.wizard,
.tabcontrol {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.wizard a,
.tabcontrol a {
    outline: 0;
}
.wizard ul,
.tabcontrol ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
}
/* .wizard ul > li, */
.tabcontrol ul > li {
    display: block;
    padding: 0;
}
/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
    position: absolute;
    left: -999em;
}
.wizard > .content > .title,
.tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}
/* Wizard */
.wizard > .steps {
    position: relative;
    display: block;
    margin-bottom: .5em;
}
.wizard > .steps .step-number {
    display: flex;
    font-size: 1rem;
    margin-bottom: .2em;
    align-items: center;
    justify-content: center;
    width: 1.6em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 1px solid var(--col-grey-85);
    position: relative;
    z-index: 1;
    background-color: var(--col-white);
}
.wizard > .steps li.current .step-number {
    background-color: var(--col-trusting-blue);
    border-color: var(--col-trusting-blue-darker);
    color: #fff;
}
.wizard > .steps > ul > li {
    width: 100%;
}
.wizard > .steps > ul,
.wizard > .actions > ul {
    display: flex;
}
.wizard > .actions > ul {
    gap: .5em;
}
.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: .8rem;
    position: relative;
}
.wizard > .steps a::before {
    position: absolute;
    top: .75rem;
    left: 0;
    right: 0;
    height: 1px;
}
.wizard > .steps a::before {
    content: "";
    background-color: var(--col-grey-90);
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    color: var(--col-grey-70);
    cursor: default;
}
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    color: var(--col-trusting-blue);
    cursor: default;
}
.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
    /* background-color: var(--col-scale-green-50); */
    /* color: var(--col-scale-green); */
}
.wizard > .steps .done .step-number {
    background-color: var(--col-scale-green);
    border-color: var(--col-scale-green-darker);
    color: #fff;
}
/* .wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    background: #ff3111;
    color: #fff;
} */
.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    background-color: var(--col-danger-50);
    color: var(--col-danger);
}
.wizard > .steps .error .step-number {
    background-color: var(--col-danger);
    border-color: var(--col-danger-darker);
    color: #fff;
}
.wizard > .content {
    display: block;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard.vertical > .content {
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}
.wizard > .content > .body {
    float: left;
    position: relative;
    width: 100%;
}
.wizard > .content > .body > iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}
.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard.vertical > .actions {
    display: inline;
    float: right;
    padding: 0 1em;
    width: 100%;
}
.wizard > .actions > ul {
    justify-content: flex-end;
}
.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active  {
    background: #eee;
    color: #aaa;
}
/*
    Tabcontrol
*/

.tabcontrol > .steps {
    position: relative;
    display: block;
    width: 100%;
}
.tabcontrol > .steps > ul {
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}
.tabcontrol > .steps > ul > li {
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabcontrol > .steps > ul > li:hover {
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}
.tabcontrol > .steps > ul > li.current {
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}
.tabcontrol > .steps > ul > li > a {
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}
.tabcontrol > .steps > ul > li > a:hover {
    text-decoration: none;
}
.tabcontrol > .steps > ul > li.current > a {
    padding: 15px 30px 10px 30px;
}
.tabcontrol > .content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}
.tabcontrol > .content > .body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
.tabcontrol > .content > .body ul > li {
    display: list-item;
}
.wizard .actions a  {
    padding: var(--spacing-2) var(--spacing-4);
    font-size: .85rem;
    font-family: var(--font-title);
    letter-spacing: var(--rubik-letter-spacing);
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--col-grey-90);
    border-radius: var(--box-button-radius);
    color: var(--col-text-dark);
    transition: all var(--transition);
    margin-block: var(--spacing-1);
    text-align: center;
    white-space: nowrap;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.wizard .actions a[href="#next"],
.wizard .actions a[href="#finish"]  {
    background-color: var(--col-trusting-blue);
    color: var(--col-white);
}