/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Jan-2019, 15:47:27
    Author     : danielnjuguna
*/

/* Hide the upload interface until category is selected */
.hide-content{
    flex: 1 1 auto;
    padding: 1.25rem;
    z-index: 999;
    position:absolute;
    width:100%;
    height:100%;
    background: radial-gradient(#ffffff, #ededed);
    opacity:0.677;
}