@import url('https://fonts.googleapis.com/css?family=Rubik:900|Work+Sans:400,700');

h1, h2 {
  color: #44ac6c;
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.8rem;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}
a {
  color: #42CFDF;
}
a:hover {
  color: #44AD6D;
}
.btn-primary {
  background-color: #42CFDF;
}
.btn-primary:hover {
  background-color: #44AD6D; 
}
.btn-dark {
  color: #fff !important;
}
.btn-dark:hover {
  background-color: #42CFDF !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
header {
  position: relative; 
  z-index: 9;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  display: grid;
  grid-template-columns: auto 44px;
  grid-template-areas: "logo toggle"
    "navi navi";
  background-color: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
header h1 {
  width: 200px;
  grid-area: logo;
  margin-bottom: 0;
  display: grid;
  align-items: center;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
header h1 a {
  display: block;
}
header h1 a svg {
  display: block;
  width: 130px;
  height: auto;
  fill: #42CFDF;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
header .menu-toggle {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  cursor: pointer;
  grid-area: toggle;
  cursor: pointer;
}
header .check-toggle {
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden;
}
header .menu-toggle span:before,
header .menu-toggle span:after,
header .menu-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  background: #42CFDF;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
header .menu-toggle:hover span:before,
header .menu-toggle:hover span:after,
header .menu-toggle:hover span {
  width: 100%;
}
header .menu-toggle span {
  top: 50%;
  margin-top: -1px;
  width: 100%;
}
header .menu-toggle span:before {
  content: "";
  top: -12px;
  width: 85%;
  right: 0;
}
header .menu-toggle span:after {
  content: "";
  top: 12px;
  width: 75%;
  right: 0;
}
header.active .menu-toggle span {
  width: 100%;
  background-color: #fff;
}
header.active .menu-toggle span:before {
  width: 100%;
  transform: rotate(45deg);
  top: 0; 
}
header.active .menu-toggle span:after {
  width: 100%;
  transform: rotate(-45deg);
  top: 0; 
}
header nav {
  font-size: 1.1rem;
  grid-area: navi;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
header .check-toggle:checked ~ nav{
  max-height: 1000px;
  padding-top: 20px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
header nav ul li {
  display: block;
  margin: 15px;
}
header nav ul li a {
  color: #707070;
}
.hero {
  position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
}
.caption {
  text-align: center;
  background-color: #fff;
  padding: 20px 10px;
  font-size: 1.5rem;
  color: #707070;
}
.journey {
  background: #fff;
  padding: 70px 0;
}
.journey img {
  float: left;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.tenders {
  min-height: 70vh;
  padding: 30px 0;
  text-align: center;
}
.tenders .card {
  text-align: left;
}
.call-to-action {
  color: #fff;
  background-color: #1A2B44;
  padding: 50px 0 40px;
  text-align: center;
  font-size: 1.2rem;
}
footer {
  text-align: center;
  padding: 20px 0;
}
footer .links {
  display: grid;
  grid-gap: 10px;
  padding: 50px 0;
}
footer .links img {
  width: 120px;
}
footer .copyright {
  padding: 20px 0 0;
  border-top: 1px solid #ccc;
}
.sc-page-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.sc-page-title h1 {
  color: #44ac6c;
}
.pricing-page,
.tenders-page {
  padding-top: 50px;
  text-align: center;
}
.register-page {
  padding-top: 50px;
  min-height: 80vh;
}
/* pricing tables start */
.pricing-page .card {
  border: none;
  margin-bottom: 0em;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.pricing-page hr {
  margin: 1.5rem 0;
}
.pricing-page .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}
.pricing-page .card-price {
  font-size: 3rem;
  margin: 0;
}
.pricing-page .card-price .period {
  font-size: 0.8rem;
}
.pricing-page ul {
  list-style: none;
  padding-left: 0;
}
.pricing-page ul li {
  margin-bottom: .5rem;
}
.pricing .text-muted {
  opacity: 0.7;
}
.pricing-page .btn {
  font-size: 80%;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
.fade-table {
  position: relative;
}
.fade-table:after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -5px;
  left: -5px;
  height: 70px;
  background: rgba(238,237,237,0.9);
  background: -moz-linear-gradient(top, rgba(238,237,237,0) 0%, rgba(238,237,237,1) 85%, rgba(238,237,237,1) 100%);
  background: -webkit-linear-gradient(top, rgba(238,237,237,0) 0%,rgba(238,237,237,1) 85%,rgba(238,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(238,237,237,0) 0%,rgba(238,237,237,1) 85%,rgba(238,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eeeded', endColorstr='#eeeded',GradientType=0 );
}
/* pricing tables end */

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  .caption {
    position: absolute;
    bottom: 20%;
    right: 30vw;
    left: 30vw;
    background-color: transparent;
    font-size: 2rem;
  }
  footer .links {
    grid-template-columns: auto auto;
    align-items: baseline;
    margin-bottom: 10px;
    justify-content: center;
    grid-gap: 40px;
  }
  .journey img {
    float: none;
    height: 100px;
    width: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  header {
    padding: 20px;
    position: fixed;
    grid-template-columns: 200px auto;
    grid-template-areas: "logo navi";
    background-color: transparent;
    box-shadow: none;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  header h1 a svg {
    width: 200px;
    fill: #42CFDF;
  }
  header h1 a:hover svg {
    fill: #44ad6d;
  }
  header .menu-toggle {
    display: none;  
  }
  header nav {
    max-height: 1000px;
    padding-top: 0;
  }
  header nav ul {
    text-align: right;
  }
  header nav ul li {
    display: inline-block;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  header.highlight {
    padding: 0 20px;
    z-index: 9;
    background: rgba(255,255,255,0.9);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  }
  header.highlight nav ul li {
      margin: 10px 15px;
  }
  header.highlight h1 {
      width: 100px;
  }
  header.highlight h1 a svg {
    width: 100px;
  }
  /* Hover Effects on pricing Card */
  .pricing-page .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing-page .card:hover .btn {
    opacity: 1;
  }
  .pricing-page,
  .tenders-page,
  .register-page {
    padding-top: 200px;
  }
}

@media (min-width: 1200px) {

}
